<% content_for :content do %>
  <div class="cclow-geography-page">
    <div class="title-page">
      <h5 class="search-title">Search results: <span class="search-text">adaptation</span> in Laws and policies</h5>
    </div>
    <hr>
    <div class="columns">
      <aside class="column is-one-quarter">
        <ul class="sidebar">
          <li>1</li>
          <li>2</li>
        </ul>
      </aside>
      <main class="column is-three-quarters">
        <div class="columns pre-content">
          <span class="column is-half">Showing 296 results</span>
          <a class="column is-half download-link" href="#">Download results (CSV in .zip)</a>
        </div>
        <ul class="content-list">
          <% CCLOW::LegislationDecorator.decorate_collection(Legislation.first(5)).each do |l| %>
            <%= render 'cclow/legislation_and_policies/searched_item', legislation: l %>
          <% end %>
        </ul>
        <div class="column is-offset-5">
          <button class="button is-primary">Load 10 more entries</button>
        </div>
      </main>
    </div>
  </div>
<% end %>
