<div class="container">
  <div class="columns">
    <div class="column is-half">
      pic
      <img src="" class="partners--picture">
    </div>

    <div class="column">
      <h4>Research Funding Partners</h4>

      <p>
        The support of our Research Funding Partners enables the analysis work behind TPI’s reports, which is undertaken by the <a class="link">GranthGrantham Research Institute on Climate Change and the Environment at the London School of Economics</a>. It also enables the free publication of the TPI’s findings to the global investor community.
      </p>
      <p>
        We are grateful to these organisations for their commitment to our work:
      </p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-3">
      pic
      <img src="" class="partners--avatar">
    </div>
    <div class="column">
      pic
      <img src="" class="partners--avatar">
    </div>
    <div class="column">
      pic
      <img src="" class="partners--avatar">
    </div>
    <div class="column">
      pic
      <img src="" class="partners--avatar">
    </div>
  </div>
</div>