<% content_for :page_title, 'Corporate Bond Issuers - Transition Pathway Initiative' %>
<% content_for :page_description, "The TPI tool is a corporate climate action benchmark which assesses how prepared companies are for the transition to a low-carbon economy." %>

<section class="container corporate-bonds-page">
  <h1>
    Corporate Bond Issuers
  </h1>

  <div class="corporate-bond-box">
    The TPI Centre assesses the top 30 corporate bond issuers by the market value of issued debt in electricity and oil & gas sectors. Bond issuers in other high-emitting sectors will be added in the future. Bond issuers are assessed using the same MQ and CP scoring methodologies used for publicly listed equities. Many of the largest bond issuers are also among the largest companies by market capitalisation, so there is a significant overlap in the listed equities and corporate bonds company universes. The full dataset of bond issuers you can find in <a href="/tpi/static/Summary - top 30 OG and Electricity bond issuers.xlsx">the attached spreadsheet</a>. Their MQ and CP scores are available <%= link_to "here", tpi_sector_path('oil-gas') %>
  </div>
</section>
