<% content_for :page_title, 'Disclaimer - Transition Pathway Initiative' %>

<div class="container">
  <h1 class="pages__title">Disclaimer</h1>
  <div class="pages__description">
    <ol>
      <li>
        All information contained on this website is derived from publicly available sources and is for general information use only. Information can change without notice and The Transition Pathway Initiative does not guarantee the accuracy of information on the website, including information provided by third parties, at any particular time.
      </li>
      <li>
        This website does not provide investment advice and nothing on the site should be construed as being personalised investment advice for your particular circumstances. This website does not take account of individual investment objectives or the financial position or specific needs of individual users. You must not rely on this website to make a financial or investment decision. Before making any financial or investment decisions, we recommend you consult a financial planner to take into account your personal investment objectives, financial situation and individual needs.
      </li>
      <li>
        This website contains information derived from publicly available third party websites. It is the responsibility of these respective third parties to ensure this information is reliable and accurate. The Transition Pathway Initiative does not warrant or represent that the data or other information provided on this website is accurate, complete or up-to-date, and make no warranties and representations as to the quality or availability of this data or other information.
      </li>
      <li>
        The Transition Pathway Initiative is not obliged to update or keep up-to-date the information that is made available on this website.
      </li>
      <li>
        If you are a company referenced on this website and would like further information about the methodology used in our publications, or have any concerns about published information, then please <a href="mailto:tpi@lse.ac.uk">contact us</a>. An overview of the <%= link_to "methodology", '/methodology' %>  used is available on our site.
      </li>
      <li>
        Please read the <a href="https://www.lse.ac.uk/lse-information/Terms-of-use">Terms and Conditions</a> which apply to use of this website.
        For the avoidance of doubt, clause 3.3 of the LSE Terms and Conditions shall be varied and replaced by the following clause:
        <ul>
          <li>
            3.3 You may download information from the Website for  personal or commercial use.  In the event of any copying, redistribution or publication of copyright material, no changes in or deletion of author attribution, trademark legend or copyright notice shall be made. You acknowledge that you do not acquire any ownership rights by downloading copyright material.
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>
