<section class="tpi-home__hero is-primary">
  <div class="container hero__body">
    <div class="columns">
      <div class="column is-4 hero__content">
        <div class="title">
          <h1>The TPI tool</h1>
        </div>
        <div class="description">
          <p class="content">
            The Transition Pathway Initiative (TPI) is a global, asset-owner led initiative which assesses companies' preparedness for the transition to a low carbon economy. Rapidly becoming the go-to corporate climate action benchmark, the TPI tool is available here.
          </p>

        </div>
        <div class="button__container">
          <button class="button is-primary button__hero">Access the tool</button>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__splash">
    <img src="<%= asset_path 'mocks/tpi_splash_01.jpg' %>" alt="" class="">
  </div>
</section>

<section class="section tpi-home__hero is-secondary">
  <div class="container tpi-hero__body">
    <div class="columns">
      <div class="column is-half">
        <h4>How investors can use the TPI</h4>

        <p class="content">
          The TPI is designed to support investors. Find out how they can use its findings.
        </p>

        <button class="button is-primary button__icon">+</button>
        <a class="link is-secondary">Learn more</a>
      </div>

      <div class="column is-half">
        <h4>Supporters</h4>

        <p>
          The TPI is supported globally by over 45 investors with over $14 trillion combined Assets Under Management and Advice.
        </p>

        <button class="button is-primary button__icon">+</button>
        <a class="link is-secondary">Learn more</a>
      </div>
    </div>
  </div>
</section>

<section class="section tpi-home__publications">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h4>Publications and news</h4>
      </div>

      <div class="column">
        <button class="button is-secondary">View all</button>
      </div>
    </div>
  </div>
  <%= render "publications/promoted" %>
</section>

<hr />

<section class="section partners">
  <%= render "partners" %>
</section>

<section class="section testemonials">
  <%= render "testimonials" %>
</section>
