<% content_for :page_title, 'TPI - Register placeholder page' %>

<div class="container newsletter__container">
  <h1 class="newsletter__title">TPI Private Area</h1>
  <p>This section of the TPI Toolkit is coming soon.</p>
</div>
