<section class="section">
  <div class="container">
    <h2>Typography</h2>
  
    <h1>h1</h1>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>
    <p>Example of text selection, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Header</h2>

    <%= render "layouts/header" %>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Links</h2>
    
    <div class="columns">
      <div class="column">
        <a class="link" href="#">link</a>
      </div>
      <div class="column">
        <a class="link is-hovered" href="#" class="is-hovered">hover</a>
      </div>
      <div class="column">
        <a class="link is-focused" href="#" class="is-focused">focus</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Buttons</h2>
    
    <div class="columns">
      <div class="column">
        <button class="button is-primary">primary</button>
      </div>
      <div class="column">
        <button class="button is-primary is-hovered">hover</button>
      </div>
      <div class="column">
        <button class="button is-primary is-focused">focus</button>
      </div>
      <div class="column">
        <button class="button is-primary is-small">small</button>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <button class="button is-secondary">secondary</button>
      </div>
      <div class="column">
        <button class="button is-secondary is-hovered">hover</button>
      </div>
      <div class="column">
        <button class="button is-secondary is-focused">focus</button>
      </div>
      <div class="column">
        <button class="button is-secondary is-small">small</button>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Tags</h2>

    <div class="columns">
      <div class="column">
        <span class="tag">
          Tag label
        </span>
      </div>
    </div>
  </div>
</section>
