<% content_for :page_title, "#{@page.title} - Transition Pathway Initiative" %>
<% content_for :page_description, strip_tags(@page.description).first(160) if @page.description.present? %>

<div class="container">
  <div class="pages__grid">
    <h1 class="pages__title"><%= @page.title %></h1>
    <div class="pages__description">
      <%= @page.description&.html_safe %>
    </div>
    <% @page.contents.order(:created_at).each do |content| %>
      <%= render "shared/pages/#{content.content_type.presence || 'regular'}", content: content %>
    <% end %>
  </div>
</div>
