@import "./colors";
@import "./typography";

$primary: $blue;
$radius: 0;

// TEXT SIZE
// $size-1: 3.5rem;
// $size-2: 3rem;
// $size-3: 2.5rem;
// $size-4: 2rem;
// $size-5: 1.5rem;
$size-6: 1rem;
$size-7: 0.875rem;

$control-border-width: 0;
$input-border-color: $blue;
// $input-shadow: none;

// LAYOUT AND GRID
$body-size: 16px;
$body-line-height: 1.5;
$text: $dark;
$family-sans-serif: "BrownTT Regular";
$family-sans-serif-bold: "BrownTT Bold";
$widescreen-enabled: false;
$fullhd-enabled: false;

$gap: 20px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;
// 960px container + 4rem
$desktop: 960px + (2 * $gap);
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap);
$widescreen-enabled: true;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap);

// LINKS
$link: $blue;
$link-hover: $blue-darker;
$link-focus: $blue-darker;
$link-active: $blue-darker;

// BUTTONS
$button-color: $blue;
$button-border-width: 0;
$button-hover-color: $blue-dark;
$button-hover-border-color: $blue-dark;
$button-focus-color: $blue-darker;
$button-focus-border-color: $yellow;
$button-focus-box-shadow-size: 0;
$button-padding-horizontal: 3rem;

// NAVBAR
$navbar-background-color: $dark;
$navbar-box-shadow-size: 0;
$navbar-bottom-box-shadow-size: 0;
$navbar-height: 3.75rem;
// $navbar-padding-vertical: ;
// $navbar-padding-horizontal: ;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $grey-dark;
$navbar-item-active-color: white;
$navbar-dropdown-background-color: $grey-dark;
$navbar-item-active-background-color: $blue;
$navbar-dropdown-radius: none;
// $navbar-dropdown-offset: 0;
$navbar-dropdown-border-top: none;
$navbar-dropdown-boxed-shadow: none;
$navbar-dropdown-item-hover-color: white;
$navbar-dropdown-item-hover-background-color: $blue;
$navbar-dropdown-item-active-color: white;
$navbar-dropdown-item-active-background-color: $blue;

// DROPDOWN
