<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      pic
      <img src="" class="publications__avatar">

      <div class="columns">
        <div class="column">
          <span class="tag">Airlines</span>
        </div>

        <div class="column">
          <span class="tag">Sector reports</span>
        </div>
      </div>

      <p class="publications__updated_at">Mar 5, 2019</p>

      <a class="link is-strong">TPI State of Transition Report 2019</a>

      <p>
        By Simon Dietz, Rhoda Byrne, Valentin Jahn, Michal Nachmany, Jolien Noels and Rory Sullivan
      </p>
    </div>

    <div class="column is-one-third">
      pic
      <img src="" class="publications__avatar">

      <div class="columns">
        <div class="column">
          <span class="tag">Airlines</span>
        </div>
      </div>

      <p class="publications__updated_at">Mar 5, 2019</p>

      <a class="link is-strong">TPI research on world’s top airlines generates considerable global media coverage</a>

      <p>
        On 5 March, TPI released new research on the world’s top 20 publicly-listed airline companies. Based on analysis by […]
      </p>
    </div>

    <div class="column is-one-third">
      pic
      <img src="" class="publications__avatar">

      <div class="columns">
        <div class="column">
          <span class="tag">Airlines</span>
        </div>

        <div class="column">
          <span class="tag">Sector reports</span>
        </div>
      </div>

      <p class="publications__updated_at">Mar 5, 2019</p>

      <a class="link is-strong">New research shows only two large oil & gas companies have long-term, low-carbon ambitions</a>

      <p>
        Innovative new research assesses the carbon performance of the world’s ten largest public oil and gas companies, taking into […]
      </p>
    </div>
  </div>
</div>
