<div class="company-property">
  <div class="company-property__name">
    <%= name %>
    <% if defined?(tooltip) %>
      <%= react_component("BaseTooltip", { content: tooltip }) %>
    <% end %>
  </div>
  <div class="company-property__value">
    <%= yield%>
  </div>
</div>
