<div class="chart">
  <%= line_chart(
    emissions_chart_data_tpi_company_path(assessment.company, cp_assessment_id: assessment.id),
    id: 'cp_assessment_chart',
    curve: false,
    width: '100%',
    height: '600px',
    library: cp_chart_options
    )%>
</div>

<% unless assessment.assumptions.blank? %>
  <div class="carbon-performance__assumptions">
    <h6>TPI notes:</h6>
    <p>
      <%= assessment.assumptions %>
    </p>
  </div>
<% end %>
