<% if assessment.emissions.any?  %>
  <%= react_component('charts/CPPerformance', {
    dataUrl: emissions_chart_data_tpi_company_path(assessment.company, cp_assessment_id: assessment.id),
    unit: assessment.unit
    }) %>
<% end %>

<% unless assessment.assumptions.blank? %>
  <div class="carbon-performance__assumptions">
    <h6>TPI notes:</h6>
    <p>
      <%= assessment.assumptions %>
    </p>
  </div>
<% end %>
