<% assessment.questions_by_level.each do |level, questions| %>
  <div class="assessment-level">
    <h3>Level <%= level %>: <%= t("tpi.company.level_description.#{level}", default: 'Answers') %></h3>
    <div class="assessment-details">
      <% questions.each do |question| %>
        <div class="container">
          <div class="assessment-answer">(<%= question.answer %>)</div>
          <div class="assessment-question"><%= question.question %></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
