<% if assessment&.assessment_date && assessment.assessment_date.year >= 2025 %>
  <div class="mq-assessment-metadata__row">
    <% if assessment.fiscal_year.present? %>
      <div class="mq-assessment-metadata__item">
        <span class="mq-assessment-metadata__label">Fiscal Year:</span>
        <span class="mq-assessment-metadata__value"><%= assessment.fiscal_year %></span>
      </div>
    <% end %>
    <% if assessment.publication_date.present? %>
      <div class="mq-assessment-metadata__item">
        <span class="mq-assessment-metadata__label">Publication Date:</span>
        <span class="mq-assessment-metadata__value"><%= assessment.publication_date.strftime('%d %B %Y') %></span>
      </div>
    <% end %>
  </div>
<% end %>

