<div class="container publications">
  <h1 class="publications__title">Publications and news</h1>
</div>
<%= react_component("Filters", { tags: @tags, sectors: @sectors, activeTags: params[:tags], activeSectors: params[:sectors], resultsSize: @publications_and_articles.size }) %>
<div id="publications" class="container publications">
  <%= render 'promoted' %>

  <!-- TODO
    <div class="publications__load-more">
      <button class="button is-secondary is-medium">Load more</button>
    </div>
  -->
</div>
