<div class="container publications">
  <h1 class="publications__title">Publications and news</h1>
  <%= react_component("Filters", { tags: @all_titles, resultsSize: @publications_and_articles.size }) %>

  <%= render 'promoted' %>

  <!-- TODO
    <div class="publications__load-more">
      <button class="button is-secondary is-medium">Load more</button>
    </div>
  -->
</div>
