<% content_for :page_title, "TPI - Publications and news" %>

<div class="container publications">
  <h1 class="publications__title">Publications and news</h1>
</div>
<%= react_component("Filters", { tags: @tags, sectors: @sectors, activeTags: @active_tags, activeSectors: @active_sectors, filtersOpen: @filters_open, resultsSize: @publications_and_articles.size }) %>
<div class="container publications">
  <%= render 'promoted' %>

  <!-- TODO
    <div class="publications__load-more">
      <button class="button is-secondary is-medium">Load more</button>
    </div>
  -->
</div>
