<% if ENV['MQ_BETA_ENABLED'].to_s  == 'true' %>
  <% link_html = link_to(enable_beta_data_tpi_mq_assessments_path,
                         class: class_names('button', 'is-primary', 'mq-beta-scores__beta-button', 'active': session[:enable_beta_mq_assessments], 'disabled': !has_data),
                         style: "min-width: 0;") { "Current V5.0" } %>

  <div class="mq-beta-scores__container">
   
    <%= link_to disable_beta_data_tpi_mq_assessments_path,
                class: class_names('button', 'is-primary', 'no-margin', 'weight-normal': session[:enable_beta_mq_assessments], 'active': !session[:enable_beta_mq_assessments]),
                style: "min-width: 0;" do %>
      V4.0
    <% end %>
    <% if has_data %>
      <%= link_html %>
    <% else %>
      <%= react_component("InfoTooltip", {
        trigger: link_html,
        content: 'It is not currently possible to show V5.0 scores for this company. Scores for the V4.0 methodology are shown in their place.',
        html: true,
      }) %>
    <% end %>
  </div>
  <div class="mq-beta-scores__divider"></div>
<% end %>