<% if ENV['MQ_BETA_ENABLED'].to_s  == 'true' %>
  <div class="mq-beta-scores__container">
    <span class="mq-beta-scores__text">MQ Methodology</span>
    <%= link_to disable_beta_data_tpi_mq_assessments_path,
                class: class_names('button', 'is-primary', 'no-margin', 'weight-normal': session[:enable_beta_mq_assessments], 'active': !session[:enable_beta_mq_assessments]),
                style: "min-width: 0;" do %>
      Current (V4.0)
    <% end %>
    <% link_html = link_to(enable_beta_data_tpi_mq_assessments_path,
                       class: class_names('button', 'is-primary', 'mq-beta-scores__beta-button', 'active': session[:enable_beta_mq_assessments], 'disabled': !has_data),
                       style: "min-width: 0;") { "BETA (V5.0)" } %>
    <%= react_component("InfoTooltip", {
      trigger: link_html,
      content: 'It is not currently possible to show Beta (V5.0) scores for this company. Scores for the current methodology (V4.0) are shown in their place.',
      html: true,
    }) %>
  </div>
  <div class="mq-beta-scores__divider"></div>
<% end %>