<div class="climate-targets-section">
  <div class="nav">
    <h5>Climate targets in this law</h5>
    <span class="counter"><%= pluralize(targets.count, 'target') %></span>
  </div>
  <ul class="climate-targets__content">
    <% targets.each do |target| %>
      <li>
        <div>
          <%= target.description&.html_safe %>
        </div>
        <div class="tags">
            <% target_tags = [target.sector&.name, target.target_type&.humanize]
               target_tags << "Target year: #{target.year}" if target.year
               target_tags << "Base year: #{target.base_year_period}" if target.base_year_period
            %>
            <%= target_tags.compact.join(' | ') %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
