<% content_for :page_title, "Climate Laws - #{@geography.name} - Laws and Policies" %>
<div class="geography-laws">
  <div class="container">
    <h3>Laws</h3>
    <ul class="content-list">
      <% @legislations.each do |l| %>
        <%= render 'cclow/geography/legislations/list_item', title: l.link,
                   description: l.description,
                   legislation_type: l.legislation_type,
                   date_passed: l.date_passed %>
      <% end %>
    </ul>
  </div>
</div>
