<div class="geography-laws">
  <div class="container">
    <h3>Laws</h3>
      <ul class="content-list">
        <% @legislations.each do |l| %>
          <%= render 'list_item', title: l.link, description: l.description %>
        <% end %>
      </ul>
    </div>
</div>
