$white: #fff;
$blue: #5587F6;
$blue-dark: #2E3152;
$red: #ED3D48;
$red-medium: #C9131E;
$red-dark: #B1101B;

$grey: #C0C1CB;
$grey-light: #EAEAED;
$grey-text: #828397;
$border-cl: #D5D6DC;
$french-gray: #C3C4CE;
$martinique: #363959;
$gun-powder: #434563;
$comet: #585A75;
$spun-pearl: #ABADBA;
$storm-gray: #6E7087;
