@import "colors";

$icon-size: 24px;

.manage-data {
  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  &__icon {
    margin-right: 8px !important;
    height: $icon-size;
    width: $icon-size;
  }

  &__text {
    color: $red;
    font-size: 14px;
  }
}