@import 'variables';

$arrow-btn-width: 48px;

.events-container {
  display: flex;
  position: relative;
  overflow-y: hidden;
  margin-left: $arrow-btn-width;
  width: calc(100% - #{$arrow-btn-width * 2});

  .timeline {
    display: flex;
    position: relative;
  }

  .time-point {
    position: relative;
    text-align: center;
    width: 275px;

    &:last-child {
      .point {
        &:after {
          border: none;
        }
      }
    }

    &:first-child {
      .point {
        &:before {
          border: none;
        }
      }
    }
  }

  .point {
    background-color: $red;
    border-radius: 50%;
    height: 12px;
    margin: auto;
    width: 12px;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 130px;
      position: absolute;
      left: -130px;
      border:none;
      border-top: 2px dashed $blue-dark;
      color: #fff;
      background-color: transparent;
      height: 2px;
      top: 5px;
    }
    &:after {
      content: "";
      display: block;
      width: 130px;
      position: absolute;
      left: 12px;
      border:none;
      border-top: 2px dashed $blue-dark;
      color: #fff;
      background-color: transparent;
      height: 2px;
      top: 5px;
    }
  }

  .event-title {
    align-items: flex-end;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    font-size: $size-7;
    margin: 0.875rem 0;
    overflow: hidden;
  }

  .date {
    color: $grey-text;
    font-size: $size-7;
    margin: 0.875rem 0;
  }

}

.timeline-events-container {
  .title-block {
    margin-bottom: 1.5rem;

    & >* {
      display: inline-block;
    }
  }

  .filter-block {
    float: right;
    font-size: $size-7;

    & >span {
      color: $grey-text;
      margin-right: 10px;
    }
  }
}

.select-checkbox {
  color: $white;
  display: inline-block;
  height: 24px;
  margin-right: 10px;
  vertical-align: bottom;
  width: 24px;

  &.checked {
    background-color: $blue-dark;
    color: $white;
    text-align: center;
    padding-top: 2px;
  }

  &.unchecked {
    border: solid 2px $blue-dark;
  }
}

.timeline-events {
  position: relative;

  .arrow-left, .arrow-right {
    height: $arrow-btn-width;
    width: $arrow-btn-width;
    background-color: $grey-light;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrow-right {
    cursor: pointer;
    right: 0;
  }
}
