@import 'variables';
@import 'events_timeline';

$count-description-lines: 2;

.cclow-geography-page {
  @include until($desktop) {
    & >.container {
      padding: 0 .75rem;
    }
  }

  margin-top: 2.8rem;

  .title-page {
    align-items: center;
    display: flex;

    img {
      height: 30px;
      margin-right: 20px;
    }
  }

  h3, h5 {
    font-weight: bold;
  }

  .meta {
    display: flex;
    margin-bottom: 0.875rem;
    font-size: 0.875rem;
    flex-wrap: wrap;

    .flag {
      height: 20px;
      margin-right: 10px;
    }

    .icon {
      background-color: $red;
      border-radius: 50%;
      color: $white;
      height: 1rem;
      width: 1rem;
    }

    &> * {
      align-items: center;
      color: $grey-text;
      display: flex;
      justify-content: center;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &> * {
        margin-right: 10px;
      }
    }
  }

  .highlight {
    color: $red;
    font-family: $family-sans-serif-bold;
    margin: 0 4px;
  }

  .content-list {    
    @include until($desktop) {
      .content-item:first-child {
        margin-top: 0;
      }
    }
    
    .title {
      color: $red;
    }

    li {
      margin-top: 2.85rem;

      .description {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: $count-description-lines;
        -webkit-box-orient: vertical;

        a {
          color: $red;
        }
      }
    }

    .with-meta {
      margin-top: 1rem;

      .meta {
        margin-bottom: 2.25rem;
      }
    }

    margin-bottom: 5rem;

    .sectors-list {
      .column-name {
        color: $blue-dark;
        font-family: $family-sans-serif-bold;
        font-size: $size-6;
        flex-direction: column;

        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .column-title {
        max-width: 150px;
      }

      a.item:hover {
        .sector-name {
          text-decoration: underline;
        }
      }

      .item {
        color: $grey-text;
        cursor: default;
        font-size: $size-6;
        min-height: 4.3rem;

        &.active {
          color: $red;
          cursor: pointer;
          font-family: $family-sans-serif-bold;
        }

        &:hover {
          background-color: $grey-light;
        }

        .value {
          justify-content: center;
        }

        &> * {
          display: flex;
          align-items: center;
        }
      }

      .current-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $red;
        color: $white;
        height: 50px;
        width: 50px;
        font-size: $size-4;
        text-align: center;
        font-family: $family-sans-serif-bold;
      }

      .empty-circle {
        border-radius: 50%;
        background-color: $grey;
        height: 30px;
        width: 30px;
      }
    }
  }

  .content-show {

    hr {
      background-color: $grey-text;
    }

    h5 {
      margin-bottom: 0.875rem;
    }

    .documents-list {
      margin: 2.75rem 0.75rem;

      li {
        &:not(:last-child) {
          margin-bottom: 1.75rem;
        }
      }

      a {
        color: $red;
        font-size: $size-7;
      }
    }

    .document-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $grey-light;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
    }
  }

  .details {
    border: solid 1px $grey;
    color: $blue-dark;
    padding: 3.12rem;

    a {
      color: $red;
    }
  }

  .climate-targets-section {
    margin-bottom: 3rem;

    .climate-targets__content {
      border: 1px solid $border-cl;
      border-bottom: none;
      border-top: none;
    }

    h5 {
      margin-bottom: 0.875rem;
    }

    .nav {
      display: flex;
      background-color: $grey-light;
      border: 1px solid $border-cl;
      justify-content: space-between;
      padding: 1rem 2.5rem 0;

      .counter {
        @extend h5;
      }
    }

    li {
      border-bottom: solid 1px $border-cl;
      margin: 0;
      padding: 2.5rem;
    }

    .tags {
      font-family: $family-sans-serif-bold;
      font-size: $size-7;
      margin: 1.4rem 0;
    }

    .source {
      font-size: $size-7;

      .name {
        color: $red;
        font-size: $size-6;
        font-family: $family-sans-serif-bold;
        margin: 0.3rem 0;

        a {
          color: $red;
        }
      }
    }

    &.ndc-content {
      .nav {
        background-color: $border-cl;
      }

      li {
        background-color: $grey-light;
        border: none;
      }
    }
  }

  .content-list {
    .climate-targets-section {
      .tags {
        margin-bottom: 3rem;
      }
    }
  }

  .ndc-hint {
    align-items: flex-end;
    display: flex;

    span {
      color: $blue-dark;
      margin: 0 5px 2px;
      font-size: $size-7;
    }
  }

  .question-icon {
    background-color: $red;
    border-radius: 50%;
    color: $white;
    height: 1rem;
    width: 1rem;
  }

  .overview-page {
    .topic-details {
      color: $blue-dark;
      font-size: $size-7;

      img {
        height: 20px;
        margin-right: 10px;
        vertical-align: bottom;
      }
    }

    .documents-list {
      margin-bottom: 0;
    }
  }

  .overview-section {
    background-color: $blue-dark;
    color: $white;
    padding: 3rem 2rem;

    hr {
      margin: 3.75rem 0;
    }

    .indicators {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
    }

    .indicator {
      color: $white;
      text-align: center;
    }

    .indicator-value {
      height: 88px;
      margin: 1.25rem auto 0;
      position: relative;
      width: 113px;
    }

    .value-container {
      align-items: center;
      background-color: $red;
      border-radius: 50%;
      display: flex;
      font-family: $family-sans-serif-bold;
      font-size: 2.25rem;
      height: 80px;
      justify-content: center;
      width: 80px;

      a:hover {
        text-decoration: underline;
        color: $white;
        font-size: 2.25rem;
        font-family: $family-sans-serif-bold;
      }

      a, a:visited, a:active {
        color: $white;
        text-decoration: none;
        font-size: 2.25rem;
        font-family: $family-sans-serif-bold;
      }
    }

    .img-type-container {
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      height: 48px;
      width: 48px;

      & > .icon {
        margin: 10px;
        background-position: center;
        background-repeat: no-repeat;
      }

      & > .icon__paper {
        background-image: image-url('icons/laws.svg');
      }

      & > .icon__scale {
        background-image: image-url('icons/legal-scale.svg');
      }

      & > .icon__white-flag {
        background-image: image-url('icons/country-flag.svg');
      }

      & > .icon__target {
        background-image: image-url('icons/target.svg');
      }

      & > .icon__official-building {
        background-image: image-url('icons/official-building.svg');
      }
    }

    .properties-container {

      .property-name {
        font-size: $size-7;
        font-family: $family-sans-serif-bold;
      }

      .property-value {
        font-size: $size-7;
        margin-top: 0.3rem;
      }
    }
  }

  .publications-container {
    .button-container {
      text-align: center;
    }
  }

  .publications-list {
    .publication {
      display: flex;

      .avatar {
        height: 74px;
        width: 74px;
      }

      .title {
        color: $red;
        font-size: $size-5;
      }

      .desc {
        margin-left: 1.25rem;
      }

      .author-name {
        color: $red;
        margin: 0 4px;
      }
    }
  }

  .sidebar {
    margin-top: 1.5rem;

    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    a {
      font-size: $size-7;
      color: $grey-text;
      position: relative;

      &.active {
        color: $blue-dark;
        font-family: $family-sans-serif-bold;

        &::after {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          right: -34px;
          background-image: image-url('icons/arrow-right.svg');
          background-repeat: no-repeat;
        }
      }

    }
  }

  h5 {
    &.search-title {
      color: $grey-text;

      .search-text {
        color: $blue-dark;
      }
    }
  }

  .world-map__legend-scale-buckets {
    .rectangle {
      width: 40px;
    }
  }

  .filter-column {
    margin-top: 1.5rem;

    .search-by {
      color: $grey-text;
      font-size: $size-7;
      margin-bottom: 1.5rem;
    }

    .more-options {
      color: $red;
      font-size: $size-7;
      font-family: $family-sans-serif;
      font-weight: normal; // overriding button's style
      cursor: pointer;
      margin-top: 25px;
      border: none;
      background-color: transparent;

      @include until($desktop) {
        margin: 0;
        padding: 0;
      }
    }
  }

  .filter-tags {
    border-bottom: solid 1px $grey-light;
    padding-bottom: 1rem;
  }

  .tags {
    .tag {
      font-size: $size-8;
      height: 30px;
      margin-right: 1rem;

      .delete {
        background-color: inherit;

        &:after, &:before {
          background-color: $blue-dark;
        }
      }
    }
  }

  .legislative-process-toggle {
    &:checked {
      & + div {
        .legislative-process-preview {
          display: none;
        }

        .legislative-process {
          display: block;
        }
      }
    }

    &:not(:checked) {
      & + div {
        .legislative-process-preview {
          display: block;
        }

        .legislative-process {
          display: none;
        }

        .read-more-process {
          cursor: pointer;
        }
      }
    }
  }

  @include until($desktop) {
    main {
      margin-top: 0;
    }

    .columns {
      margin: 0;

      .column {
        padding: 0;
      }
    }

    .load-more-container {
      text-align: center;
    }
  }
}

mark {
  background: $grey-light;
  color: inherit;
}

.search-wrapper {
  left: 10%;
  position: absolute;
  top: 70%;
  width: 80%;
  z-index: 35;

  @include until($desktop) {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 82.5%;
    width: calc(100% - #{0.75rem * 2});
  }
}

.sidebar__categories {
  margin-top: 30px;

  & > hr {
    background-color: $grey-light;
  }

  .categories {
    &__container {
      margin-top: 30px;

      &:first-child {
        margin-top: 20px;
      }
    }

    &__title {
      font-size: 0.625rem;
      line-height: 0.938rem;
      color: $gun-powder;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    &__tags {
      line-height: 36px;
    }

    &__tag:not(body) {
      margin-top: 10px;
      border: none;
      border-radius: 0;
      margin-right: 6px;
      background-color: $grey-light;
      color: $blue-dark;
      font-size: 0.75rem;
      line-height: 0.938rem;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: unset;
      text-align: center;
      height: auto;
      padding: 5px 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.tag__container {
  display: flex;
  max-width: 100px;
  align-items: center;
}

.flex-container {
  display: flex;
  align-items: center;
}
