@import "variables";
@import "colors";

$hero-head-height: 7.5rem;

.hero {
  background-color: $blue-dark;
  position: relative;
  background-image: image-url('cclow/hero_background@2x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  .title {
    color: $red;
  }

  .hero-head {
    .navbar {
      min-height: $hero-head-height;

      .brand {
        display: flex;
        align-items: flex-end;
      }

      .container {
        min-height: $hero-head-height;
      }

      .navbar-item {
        align-items: flex-end;
      }

      .navbar-logo {
        margin-right: 25px;
      }
    }
  }

  .hero-body {
    padding-bottom: 5rem;
    padding-top: 0;
    margin: 4.5rem 0 0;
    color: $white;

    p {
      font-size: $size-5;
    }
  }

  .overview-section {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 0 1.6rem;

    .item-name-block {
      align-items: center;
      display: flex;
      font-size: $size-7;

      .img-type-container {
        align-items: center;
        border-radius: 50%;
        background-color: $white;
        display: flex;
        height: 48px;
        justify-content: center;
        margin-right: 12px;
        width: 48px;

        & > .icon {
          margin: 0;
          background-position: center;
          background-repeat: no-repeat;
        }

        & > .icon__paper {
          background-image: image-url('icons/laws.svg');
        }

        & > .icon__scale {
          background-image: image-url('icons/legal-scale.svg');
        }

        & > .icon__white-flag {
          background-image: image-url('icons/country-flag.svg');
        }

        & > .icon__globe {
          background-image: image-url('icons/world.svg');
        }

        & > .icon__globe {
          background-image: image-url('icons/target.svg');
        }

        .icon__world-map {
          width: 200px;
          height: auto;
        }
      }
    }

    .value-block {
      margin-top: 1.25rem;

      ul {
        margin-left: 48px;
      }

      a {
        color: $navbar-item-color;
        font-size: $size-7;
        text-decoration: underline;
      }

      &> * {
        margin: 0 auto;
      }

      .circle {
        align-items: center;
        display: flex;
        background-color: $red;
        border-radius: 50%;
        font-size: $size-2;
        font-family: $family-sans-serif-bold;
        height: 130px;
        justify-content: center;
        width: 130px;

        a:hover {
          text-decoration: underline;
          color: $white;
          font-size: $size-2;
          font-family: $family-sans-serif-bold;
        }

        a, a:visited, a:active {
          color: $white;
          text-decoration: none;
          font-size: $size-2;
          font-family: $family-sans-serif-bold;
        }
      }
    }
  }

  .arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    cursor: pointer;
    height: 68px;
    width: 68px;
    border: solid 10px $white;
    border-radius: 50%;
    position: absolute;
    bottom: -34px;
    background-color: $blue-dark;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .search-field {
    position: initial;
  }

  .menu {
    a {
      color: $navbar-item-color;
      font-size: $size-7;
      text-decoration: underline;

      &:not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }
}
