@import "variables";
@import "colors";
@import "bulma/sass/utilities/all";

$text-indent: 25px;
$text-indent-numbers: 18px;

.pages__grid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @include desktop {
    width: 75%;
    padding: unset;
  }
}

.pages__title {
  margin-top: 40px;
  margin-bottom: 40px;
  color: $blue-dark;
  font-family: $family-sans-serif-bold;
  font-weight: normal;
  font-size: 28px;
}

.pages__content {
  * > {
    ul {
      margin-top: 20px;
      margin-left: $text-indent;

      li {
        list-style-type: disc;
        list-style-position: inside;
        line-height: 32px;
        text-indent: calc(-1 * #{$text-indent});
      }
    }

    ol {
      margin-top: 20px;
      margin-left: $text-indent-numbers;

      li {
        list-style-type: decimal;
        list-style-position: inside;
        line-height: 32px;
        text-indent: calc(-1 * #{$text-indent-numbers});
      }
    }

    strong {
      font-weight: normal;
      font-family: $family-sans-serif-bold;
    }
  }

  h1, h2, h3, h4, h5 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  h4 {
    font-family: $family-sans-serif-bold;
    font-size: 20px !important;
  }

  &.text-description {
    display: flex;
    font-family: $family-sans-serif;

    .pages__content-logos {
      grid-template-columns: repeat(2, 1fr);
      margin-right: 30px;
      min-width: 50%;

      img {
        max-height: 280px;
      }
    }

    .pages__content-logo {
      margin-right: 60px;

      > div {
        background-position: center;
        background-size: cover;
        height: 240px;
        width: 240px;
        border-radius: 50%;
      }
    }

    @include until($desktop) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &.logo-description {
    display: block;
    font-family: $family-sans-serif;

    .pages__content-logos {
      grid-template-columns: repeat(2, 1fr);
      margin-right: 30px;
      min-width: 50%;

      img {
        max-height: 280px;
      }
    }

    .pages__content-logo {
      margin-bottom: 24px;

      img {
        max-width: 240px;
      }
    }

    @include until($desktop) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}

.pages__description {
  line-height: 32px;
  font-size: 18px;
  color: $blue-dark;
  margin-bottom: 40px;

  img {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  a {
    color: $red;
    font-family: $family-sans-serif-bold;

    &:hover {
      color: $red-medium;
      text-decoration: underline;
    }

    &:focus {
      color: $white;
      background-color: $red-medium;
      text-decoration: underline;
    }
  }
}

.pages__content-logos {
  display: grid;
  grid-row-gap: 4px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}
