@font-face {
  font-family: "BrownTT Regular";
  src: url("/assets/BrownTT-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BrownTT Bold";
  src: url("/assets/BrownTT-Bold.ttf") format("truetype");
}
