@import "colors";

$gap: 32px;
$fullhd: 1344px;

// FONTS
$family-sans-serif: "BrownTT Regular";
$family-sans-serif-bold: "BrownTT Bold";

// NAVBAR
$navbar-height: 11.25rem;
$navbar-background-color: $blue-dark;
$navbar-padding-vertical: 1rem;
$navbar-padding-horizontal: 2rem;
$navbar-item-color: $grey;

// BREADCRUMB
$breadcrumb-item-color: $red;
$breadcrumb-item-active-color: $grey-text;
$breadcrumb-item-separator-color: $storm-gray;

// DIVIDER
$hr-background-color: $blue-dark;
$hr-height: 1px;
$hr-margin: 1rem 0 2rem;

// LINKS
$link-hover: $red-medium;

// BUTTON
$control-radius: 0;
$button-padding-horizontal: 1.25rem;

// COLORS
$primary: $red;

// PADDINGS
$section-padding-medium: 2rem 0 1.5rem;
$section-padding-large: 4rem 0 1.5rem;

// FOOTER
$footer-background-color: $grey-light;
$footer-padding: 4.5rem 0 0;

// BODY
$body-line-height: 1.5;

$tablet: 768px;