
@import "colors";
@import "variables";
@import "bulma/sass/utilities/all";

$map-container-height: 500px;
$map-height: 586px; // hide antarctica
$m-map-container-height: 400px;

.world-map {
  &__container {
    position: relative;
    width: 100%;
    height: $m-map-container-height;
    margin-top: 30px;
    overflow: hidden;
    background-color: $grey-light;
    border: 1px solid $grey;

    @include desktop {
      height: $map-container-height;
    }
  }

  &__tooltip {
    background: $white !important;
    color: $storm-gray !important;
    border: 1px solid $grey;

    &:after {
      display: none;
    }
  }

  &__composable-map {
    height: $map-height;
    width: 100%;
  }

  &__tooltip-container {
    display: block;
    padding: 20px 10px;
  }

  &__tooltip-title {
    font-size: 16px;
    line-height: 24px;
    color: $blue-dark;
    margin-bottom: 16px;
  }

  &__tooltip-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  &__tooltip-text {
    font-size: 12px;
    line-height: 15px;
    max-width: 200px;
    margin-right: 10px;
    color: $storm-gray;
  }

  &__tooltip-number {
    color: $blue-dark;
    font-family: $family-sans-serif-bold;
    margin-left: auto;
  }

  &__tooltip-link {
    color: $red;
    font-size: 12px;
    font-family: $family-sans-serif-bold;
    line-height: 15px;
    margin-top: 20px;
    cursor: pointer;
  }

  &__geography {
    outline: none;
    fill: $white;
    stroke: #C0C1CB;
    stroke-width: 0.5;

    &--active {
      stroke: $black;
    }

    &--highlighted {
      stroke: $black;
      stroke-width: 2;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__map-bubble {
    cursor: pointer;
  }

  &__selectors {
    position: absolute;
    top: 10px;
    left: 16px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      left: 20px;
    }
  }

  &__selector {
    flex: 1;

    & + & {
      @include desktop {
        margin-left: 30px;
      }
    }

    @include desktop {
      max-width: 300px;
    }

    label {
      font-size: 12px;
    }
  }

  &__controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 80px;
    width: 40px;
  }

  &__eu-aggregation-button-container {
    padding: 8px 14px;
    background-color: $athens-gray;
    color: $dark;
    font-size: 12px;
    cursor: pointer;
    margin-top: auto;
    margin-left: auto;

    .select-checkbox.checked {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0;
    }
  }

  &__eu-aggregation-button {
    outline: none;
    border: none;
    font-family: $family-sans-serif;
    font-weight: normal;
    background-color: $athens-gray;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
  }

  &__controls-zoom-in,
  &__controls-zoom-out {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: $white;
    border: 1px solid $grey !important;
    padding: 0;

    img {
      height: 24px;
      width: 24px;
    }

    &:active {
      background-color: darken($white, 7%);
    }
  }

  &__controls-zoom-in {
    border-bottom: none !important;
  }

  &__legend {
    border: 1px solid $grey;
    border-top: none;
    padding: 26px 16px 16px 16px;
    font-size: $size-8;


    @include desktop {
      padding: 1.6rem 3rem;
    }

    .name {
      font-family: $family-sans-serif-bold;
      font-size: $size-7;
      color: $blue-dark;
      width: 75%;

      @include desktop {
        width: 100%;
        height: 2.85rem;
      }
    }

    .columns {
      margin: 0;
    }


    .legend__description {
      color: $comet;
      margin-bottom: 44px;

      @include desktop {
        margin-bottom: 0;
      }
    }

    .world-map__legend-scale-buckets.bubbles__legend {
      margin-bottom: 18px;

      @include desktop {
        margin-bottom: 14px;
      }

      & > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: unset;
      }
    }
  }

  &__legend-scale {
    padding: 0 1.5rem;
    margin: 0;

    &:last-child {
      margin-bottom: 40px;

      @include desktop {
        margin-bottom: 0;
      }
    }

    @include desktop {
      padding: 0 1.5rem;
    }
  }

  &__legend-scale-buckets {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: $grey-text;
    margin-bottom: 28px;
    height: 80px;

    &.rectangle__legend {
      justify-content: flex-start;
      overflow-y: auto;
    }

    @include desktop {
      justify-content: flex-start;
      margin-left: 60px;
      margin-bottom: 14px;
    }

    & > * {
      text-align: center;
      flex: 1;
    }

    &--context {
      & > * {
        flex: 1;
      }
    }

    .circle {
      border-radius: 50%;
      background-color: $border-cl;
      margin: 0.5rem;
    }

    .rectangle {
      height: 18px;
      margin: 0.5rem;
    }
  }
}
