#index_table_targets {
  td {
    &.col-description {
      min-width: 150px;
    }
    &.col-geography {
      min-width: 110px;
    }
    &.col-sector {
      min-width: 100px;
    }
    &.col-year {
      min-width: 85px;
    }
  }
}

