<% indicators.each do |indicator| %>
  <div class="country-assessment__indicator-block">
    <div class="country-assessment__indicator">
      <div class="country-assessment__indicator__title country-assessment__icon country-assessment__icon--<%= ascor_icon_for(indicator, @assessment) %>">
        <%= "#{indicator.code.split('.').last}. #{indicator.text}" %>
      </div>
      <% result = ascor_assessment_result_for(indicator, @assessment) %>
      <% if result&.source.present? %>
        <div class="country-assessment__indicator__source">
          <%= link_to 'Source', result.source %>
        </div>
      <% end %>
    </div>

    <%= render 'tpi/ascor/assessment_metrics', metrics: ascor_sub_indicators_for(indicator, metrics) %>
  </div>
<% end %>