<div class="contacts">
  <div class="contacts__icon"></div>
  <div class="contacts__info">
    <h3>Get in touch with us for enquiries. </h3>
    <a href="mailto:gri.ascor@lse.ac.uk" class="button">Contact ASCOR</a>
  </div>
</div>