<section class="hero">
  <div class="hero-head">
    <div class="navbar">
      <div class="container">
        <div class="brand">
          <span>icon-1</span>
          <span>icon-2</span>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="menu">
                <a href="#about">About</a>
                <a href="#methodology">Methodology</a>
                <a href="#methodology">Publications</a>
                <a href="#invitation">Invitation to contribute</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <h2 class="title">Climate Change Laws of the World</h2>
      <div class="columns">
        <div class="column is-two-thirds">
          <p>Use our database to search and browse climate laws, policies and litigation cases across all countries.</p>
        </div>
      </div>
      <div class="search-field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" placeholder="Search for countries, legislation and policies and litigation cases">
          <span class="icon is-right">
            <i class="fa fa-1x fa-search"></i>
          </span>
        </p>
      </div>
      <div class="overview-section">
        <div>
          <div class="item-name-block">
            <div class="img-type-container">
              icon
            </div>
            <div>Climate laws and policies</div>
          </div>
          <div class="value-block">
            <div class="circle">
              <%= Legislation.count %>
            </div>
          </div>
        </div>
        <div>
          <div class="item-name-block">
            <div class="img-type-container">
              icon
            </div>
            <div>Climate litigation cases</div>
          </div>
          <div class="value-block">
            <div class="circle">
              <%= Litigation.count %>
            </div>
          </div>
        </div>
        <div>
          <div class="item-name-block">
            <div class="img-type-container">
              icon
            </div>
            <div>Climate laws and policies</div>
          </div>
          <div class="value-block">
            <ul>
              <li><a href="#">China</a></li>
              <li><a href="#">United States</a></li>
              <li><a href="#">European Union</a></li>
              <li><a href="#">India</a></li>
              <li><a href="#">Indonesia</a></li>
            </ul>
          </div>
        </div>
        <div>
          <div class="item-name-block">
            <div class="img-type-container">
              icon
            </div>
            <div>Climate laws and policies</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-btn">
    <i class="fa fa-angle-down fa-2x"></i>
  </div>
</section>
