<div class="slider-container" data-controller='slider'>
  <div class="slider" data-target="slider.items">
    <% @latest_additions.each do |item| %>
      <div class="item-container">
        <div class="item">
          <div class="additions-kind"><%= item[:kind] %></div>
          <div class="title"><%= item[:link].html_safe %></div>
          <div class="meta">
            <img class="flag" src=<%= asset_path "flags/#{item[:iso]}.svg"%> alt="">
            <div><%=(item.values_at(:jurisdiction_link, :addition_type, :date_passed)).compact.join(' | ').html_safe %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
