<section class="section is-medium">
  <h5 class="title">
    Latest additions
  </h5>
  <%= render 'cclow/home/latest_additions' %>
</section>
<section class="section is-medium">
  <h5 class="title">
    Visualise data on the map
  </h5>
  <p>
    The Climate Change Laws of the World map helps you visualise our data by showing climate laws, policies and
    litigation cases (content – left dropdown) in relation to key contextual indicators (context – right dropdown).
    Select two options from the dropdown menus below to get started.
  </p>
  <%= react_component("world-map/WorldMap") %>
</section>
