<section>
  <h1>Climate Change Laws of the World</h1>

  <p>
    Our database covers country profiles, climate change legislation and
    policies globally and climate litigation cases from 25 countries.
  </p>

  <%= link_to 'All Legislation and policies', cclow_legislation_and_policies_path %><br/>
  <%= link_to 'All Litigation cases', cclow_litigation_cases_path %>
</section>
