<% content_for :page_title, 'Climate Laws - Home' %>
<section class="section is-medium latest_additions__container">
  <h5 class="title">
    Latest additions
  </h5>
  <%= render 'cclow/home/latest_additions' %>
</section>
<section id="map-section" class="section is-medium section__map">
  <h5 class="title">
    Visualise data on the map
  </h5>
  <p class="content">
    The Climate Change Laws of the World map helps you visualise our data by showing climate laws, policies and
    litigation cases (content – left dropdown) in relation to key contextual indicators (context – right dropdown).
    Select two options from the dropdown menus below to get started.
  </p>
  <%= react_component("world-map/WorldMap") %>
</section>
