<section class="section">
  <div class="container">
    <h2>Typography</h2>

    <h1>h1</h1>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>
    <p>Example of text selection, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Links</h2>

    <div class="columns">
      <div class="column">
        <a class="link" href="#">link</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Buttons</h2>

    <div class="columns">
      <div class="column">
        <button class="button is-primary">primary</button>
      </div>
      <div class="column">
        <button class="button is-secondary">secondary</button>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Tags</h2>

    <div class="columns">
      <div class="column">
        <span class="tag">
          Tag label
        </span>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Inputs</h2>

    <div class="columns">
      <div class="column">
        <input type="text" class="input" placeholder="Type something" />
      </div>
      <div class="column">
        <select class="input">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
        </select>
      </div>
    </div>
  </div>
</section>
