<tr class="emission">
  <td><span class="sortable-handle"></span></td>
  <td><input name="emission_year" type="number" value="<%= year %>" /></td>
  <td><input name="emission_value" type="number" value="<%= value %>" /></td>
  <td><%= button_tag "Remove", type: 'button', class: 'button button--raised button--red', data: { action: "click->cp-benchmark-form#removeEmission" } %></td>
</tr>
