<div class="banner is-hidden-mobile">
</div>

<div class="header-nav">
  <div class="container">
    <%= render "layouts/header" %>
  </div>
</div>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        The TPI tool
      </h1>
      <div class="description columns">
        <div class="column is-4">
          The Transition Pathway Initiative (TPI) is a global, asset-owner led initiative which assesses companies' preparedness for the transition to a low carbon economy. Rapidly becoming the go-to corporate climate action benchmark, the TPI tool is available here.

          <div class="container--hero">
            <button class="button is-primary button--hero">Access the tool</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="hero--picture" src="<%= asset_path 'daniel-sessler-g3O3xWspoN4-unsplash.jpg' %>">
</section>

<section class="hero is-secondary is-medium">
  <div class="hero-body">
    <div class="container">
      
    </div>
  </div>
</section>