@import "../colors";
@import "../typography";

.matrix-tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.tab {
  padding: 30px;
  color:$blue-dark;

  &:hover {
    border-color: $grey;
    background-color: $grey;
  }

  &.active {
    color: $white;
    background-color: $blue-dark;
  }
}