@import "../variables";

$tpi-pie-chart-colors: #86a9f9 #5587f7 #2465f5 #0a4bdc #083aab #9747ff;

.mq-sector-pie-chart {
  margin-top: 16px;
  margin-bottom: 60px;
  .mq-sector-pie-chart-title {
    display: flex;
    gap: 8px;
    color: $blue-darker;

    .--mobile {
      display: none;
      @include until($desktop) {
        display: inline-block;
      }
    }
    .--desktop {
      display: inline-block;
      @include until($desktop) {
        display: none;
      }
    }

  }

  .chart--mq-sector-pie-chart {
    min-height: 320px;
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include until($desktop) {
      gap: 32px;
      justify-content: center;
      width: 100%;
    }

    .highcharts-container {
      width: 320px;
      @include until($desktop) {
        width: 290px;
      }
    }
    // remove overflow hidden from the chart
    div[data-highcharts-chart],
    .highcharts-container,
    svg {
      overflow: unset !important;

      @include until($desktop) {
        tspan {
          &:not(.highcharts-strong) {
            font-size: $size-7;
            font-family: $font-family-bold;
          }
        }
      }
    }

    @for $i from 1 through length($tpi-pie-chart-colors) {
      $color: nth($tpi-pie-chart-colors, $i);
      .highcharts-color-#{$i - 1} {
        fill: $color;
        stroke: $color;
      }
    }

    .chart--mq-sector-pie-chart-title {
      font-family: $font-family-regular;
      font-size: 16px;
      text-align: center;
      transform: translateY(-16px);
      
      .companies-size {
        font-size: 36px;
        line-height: 40px;
        font-family: $font-family-bold;
      }
      &.--selected {
        transform: translateY(-35%);
      }

      @include until($desktop) {
        font-size: 14px;

        .companies-size {
          font-size: 24px;
        }
      }
    }

    .chart-legends {
      display: grid;
      width: 372px;
      grid-template-rows: repeat(3, min-content);
      grid-auto-flow: column;
      column-gap: 80px;
      row-gap: 20px;
      @include until($desktop) {
        column-gap: 32px;
        width: 100%;
      }
      .chart-legend-item {
        display: flex;
        gap: 8px;
        .chart-legend-item__name {
          .chart-legend-item__color {
            height: 12px;
            width: 12px;
            border-radius: 50%;
          }
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 16px;
          font-family: $font-family-bold;
        }
        .chart-legend-item__value {
          margin-left: 20px;
          margin-top: 4px;
          font-size: 12px;
          font-family: $font-family-regular;
          min-width: max-content;
        }
      }
    }
  }
}
