.button {
  margin: 0;

  &--raised {
    @include am-btn-raised;
  }

  &--red {
    background-color: $red;

    &:hover {
      background-color: lighten($red, 20%);
    }
  }
}

table {
  th, td {
    word-break: keep-all;
  }
}

.panel {
  > h3 {
    font-size: 18px;
    padding: 20px 16px;
    color: black;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
  }
}

.table_tools {
  .scope {
    margin: 0;
    padding: 10px;

    &.selected {
      background: $am-theme-primary;

      a {
        color: white;
      }
    }
  }
}

fieldset.actions .cancel a {
  &:hover {
    color: white;
  }
}

.columns {
  .column {
    float: left;
  }
}

// Status
.status_tag {
  // Yes / No
  &.no { background: $flag-false-color; }
  &.yes { background: $flag-true-color; }

  // visibility status / publishing flow
  &.draft { background: $draft-color; }
  &.pending { background: $pending-color; }
  &.published { background: $published-color; }
  &.archived { background: $archived-color; }
  &.unset { background: $unset-color; }

  &.mq-new { background: $mq-new-color; }
  &.mq-unchanged { background: $mq-unchanged-color; }
  &.mq-up { background: $mq-up-color; }
  &.mq-down { background: $mq-down-color; }
}

.mq-status {
  span {
    margin-left: 5px;
  }
}

#search_status_sidebar_section {
  .panel_contents {
    padding: 16px;
  }
}

// Fix navbar
#utility_nav {
  #current_user, #logout {
    width: auto;
  }

  #current_user > a {
    white-space: nowrap;
  }
}

// fix wrap of action items
#titlebar_right {
  .action_items {
    white-space: nowrap;
  }
}

.title_bar {
  line-height: 1.5rem;
}

#index_footer {
  .download_links {
    display: none;
  }
}

.activeadmin-orderable {
  .handle {
    cursor: grab;

    &::before {
      content: '\28f6';
      position: relative;
      top: -3px;
    }
  }
}
