.activeadmin-orderable {
  .handle {
    cursor: grab;

    &::before {
      content: '\28f6';
      position: relative;
      top: -3px;
    }
  }
}

.ui-sortable-placeholder {
  background: $silver;
  width: 100%;
  visibility: visible !important;
}
