$padding: 20px;

//Colors
//use http://chir.ag/projects/name-that-color for color naming

$red: red;
$allports: #00689f;
$malibu: #7dd2f7;
$olivine: #9fc881;
$yellow-orange: #ffb434;
$apple: #4ba532;
$silver: #c4c0c0;
$dusty-gray: #979494;

// Status label colors
$draft-color: #adc9d0;
$pending-color: $yellow-orange;
$published-color: #6d9f71;;
$archived-color: #d0a088;
$unset-color: $dusty-gray;

// Yes / No
$flag-true-color: #8fbb93;
$flag-false-color: #b7b6b6;

// Active Material Theme Colors Change
$am-theme-primary: $allports;
$am-theme-accent: $malibu;
$am-theme-accent-fallback: $red;

// Responsive breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-large: 1400px;
