$button-cl: #00689f;

.trix-button--icon-video::before {
  background-image: asset-url('icon_youtube/youtube_gray.svg');
}

trix-toolbar {
  .trix-dialog {
    &--video {
      max-width: 600px;
    }

    input[type="button"] {
      background-color: $button-cl;
    }
  }
}

.trix-editor, .trix-content {
  font-size: 1rem;

  .attachment {
    &__caption {
      display: none;
    }
  }

  .attachment--preview {
    //position: relative;
    //float: left;
    //width: auto;
    //margin: 10px 10px 10px 0;
    text-align: center;
    max-width: 100%;
    padding: 0;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
