.hidden {
  display: none;
}

.padding-20 {
  padding: $padding;
}

.max-width-300 {
  max-width: 300px;
}

table.cell-padding-sm {
  td, th {
    padding: 5px;
  }
}

table.cell-centered {
  td, th {
    text-align: center;
  }
}

.table_tools {
  .scopes {
    display: flex;
    justify-content: flex-end;

    ul {
      padding: 0;
    }
  }

  .scope.selected {
    border-radius: 5px;
  }
}
