<%= link_to link, class: "manage-data__button-container", target: :_blank do %>
  <img class="manage-data__icon" src=<%= asset_path "icons/edit-icon.svg"%> alt="edit data">
  <span class="manage-data__text">Manage data</span>
<% end %>