<ul class="content-list">
  <% litigations.each do |litigation| %>
    <li>
      <h5 class="title">
        <%= link_to litigation.title, cclow_geography_litigation_case_path(litigation.geography, litigation) %>
      </h5>
      <p class="meta">
        <% if litigation.started_event.present? %>
          <span>Opened in <%= litigation.started_event.date&.year %></span>
        <% end %>
        <% if litigation.events.present? %>
          <span><%= litigation.events.last&.event_type.humanize %></span>
        <% end %>
      <p>
        <%= litigation.summary.html_safe %>
      </p>
    </li>
  <% end %>
</ul>
