<div class="well">
  <strong>Required if column present</strong> - meaning the value in the cell is required if column in present in CSV file.
  Otherwise there will be validation error. <br />
  <strong>Extra column, will be omitted if present</strong> - this is a helper column existing in exported CSVs. This value will be ignored when uploading.
</div>
