<tr>
  <td>
    Visibility status
  </td>
  <td>
    Determine the state of the record. Published records are visible for users visiting the website.
    One of: <%= VisibilityStatus::VISIBILITY.join(', ') %>
  </td>
  <td>
    published
  </td>
  <td>
    Required if column present
  </td>
</tr>
