<div class="banner">
  <div class="container">
    <div class="columns">
      <div class="column is-3 logo">
        <%= link_to tpi_root_path do %>
          <img
            src="<%= asset_path 'logo/TPI_logo@2x.png' %>"
            class="banner__logo"
            alt="Transition Pathway Initiative Logo"
          />
        <% end %>
      </div>
      <div class="column is-offset-3 partners__container">
        <p class="partners__title">Hosted by:</p>

        <div class="partners">
          <a href="http://www.lse.ac.uk/">
            <img
              src="<%= asset_path 'tpi/partners/lse.png' %>"
              alt="The London School of Economics and Political Sciences"
              class="partners__lse"
            />
          </a>
          <a href="http://www.lse.ac.uk/GranthamInstitute/">
            <img
              src="<%= asset_path 'tpi/partners/grantham.png' %>"
              alt="Grantham Research Institute on Climate Change and the Environment"
              class="partners__grantham"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
