<section class="footer__information">
  <div class="container">
    <div class="columns footer__menu">
      <div class="column is-9 footer__menu-list">
        <button class="button is-primary">
          <a href="/use-of-the-centre-s-data" class="footer-link" target="_blank" style="padding: 0 10px;">Use of TPI Centre data</a>
        </button>
        <div>
          <a href="https://www.lse.ac.uk/lse-information/terms-of-use" class="link is-large is-hidden-touch" target="_blank">LSE Terms of use</a>
          <a href="https://www.lse.ac.uk/lse-information/terms-of-use" class="link is-large is-hidden-desktop" target="_blank">Terms of use</a>
        </div>
        <div>
          <a href="https://www.lse.ac.uk/lse-information/privacy-policy" class="link is-large is-hidden-touch" target="_blank">LSE Privacy policy</a>
          <a href="https://www.lse.ac.uk/lse-information/privacy-policy" class="link is-large is-hidden-desktop" target="_blank">Privacy policy</a>
        </div>
        <div>
          <a href="https://www.lse.ac.uk/lse-information/cookies" class="link is-large" target="_blank">Cookies</a>
        </div>
      </div>
      <div class="column footer__copyright">Copyright © <%= Time.now.year %></div>
    </div>
  </div>
</section>
