<div class="column is-offset-3 partners__container">
  <p class="partners__title">Hosted by:</p>

  <div class="partners">
    <a href="http://www.lse.ac.uk/">
      <img
        src="<%= asset_path 'tpi/partners/lse-bigger.png' %>"
        alt="The London School of Economics and Political Sciences"
        class="partners__lse"
        />
    </a>
    <a href="http://www.lse.ac.uk/GranthamInstitute/">
      <img
        src="<%= asset_path 'tpi/partners/grantham-bigger.png' %>"
        alt="Grantham Research Institute on Climate Change and the Environment"
        class="partners__grantham"
        />
    </a>
  </div>
</div>
