<div class="column is-offset-3 partners__container">
  <div class="partners">
    <%= link_to tpi_root_path do %>
      <img
        src="<%= asset_path 'logo/TPI_logo@2x.png' %>"
        alt="Transition Pathway Initiative Logo"
        class="partners__tpi"
        />
    <% end %>
  </div>
</div>
