@import "colors";

.header__margin {
  margin-top: var(--fixed-navbar-height);
}

.tpi__banner {
  .banner {
    height: 130px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .banner__logos-left {
      display: flex;
      align-items: center;
      gap: 20px;

      .banner__logo {
        max-height: 80px !important;
        max-width: 200px !important;
        width: auto !important;
        height: auto !important;
      }
    }

    .partners__title {
      display: flex;
      justify-content: flex-end;
      font-size: $size-8;
      color: $grey-dark;
      line-height: 0.938rem;
      margin-bottom: 5px;
    }

    .partners {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 30px;

      .partners__tpi {
        max-height: 80px !important;
        max-width: 200px !important;
        width: auto !important;
        height: auto !important;
      }
    }
  }
}

.logos {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 1.75rem;
}

.image__container {
  text-align: center;

  a {
    img {
      width: 150px;
    }
  }
}

.partners {
  @include until($desktop) {
    &.section {
      padding: 1.2rem 0.75rem;
    }

    .partners__container {
      h2 {
        font-size: $size-5 !important;
        margin-bottom: 30px;
      }

      p {
        font-size: $size-6;
      }
    }

    .logos {
      padding: 0;
      margin-top: 25px;
      padding: 1.75rem;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 10px;
    }
  }
}

.testemonials {
  @include until($desktop) {
    .columns {
      margin: 0;
      padding: 0;
    }
    .column {
      padding: 0;
      margin: 0;
    }

    padding: 0;
    margin-top: 20px;
  }
}
