@import "colors";

.header__margin {
  margin-top: var(--fixed-navbar-height);
}

.tpi__banner {
  .banner {
    height: 130px;
    display: flex;
    align-items: center;

    .column {
      align-items: flex-end;
    }

    .partners__title {
      display: flex;
      justify-content: flex-end;
      font-size: $size-7;
      color: $grey-dark;
      line-height: 0.938rem;
      margin-bottom: 20px;
    }

    .partners {
      align-items: center;
      justify-content: space-between;

      &__partner-1 {
        height: 40px;
      }

      &__partner-2 {
        width: 114px;
        max-height: 30px;
      }

      &__partner-3 {
        width: 95px;
        max-height: 34px;
      }

      &__partner-4 {
        width: 108px;
        max-height: 21px;
      }

      .column {
        flex-grow: 0;
        flex-basis: initial;
        flex-shrink: 1;
      }
    }
  }
}

.logos {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 1.75rem;
}

.image__container {
  text-align: center;

  a {
    img {
      width: 150px;
    }
  }
}

.partners {
  @include until($desktop) {
    .columns,
    .column {
      padding: 0;
      margin: 0;
    }

    &.section {
      padding: 1.2rem 0.75rem;
    }

    .partners__container {
      h2 {
        font-size: $size-5 !important;
        margin-bottom: 30px;
      }

      p {
        font-size: $size-6;
      }
    }

    .logos {
      padding: 0;
      margin-top: 25px;
      padding: 1.75rem;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 10px;
    }
  }
}

.testemonials {
  @include until($desktop) {
    .columns {
      margin: 0;
      padding: 0;
    }
    .column {
      padding: 0;
      margin: 0;
    }

    padding: 0;
    margin-top: 20px;
  }
}
