@import "colors";

.tpi__banner {
  .banner {
    height: 140px;
    display: flex;
    align-items: center;

    .column {
      align-items: flex-end;
    }

    .partners__container {
      .content {
        display: flex;
        justify-content: flex-end;
        color: $grey-dark;
      }
    }

    .partners {
      align-items: flex-end;
      justify-content: space-between;

      .banner__partner {
        max-height: 40px;
      }

      .column {
        flex-grow: 0;
        flex-basis: initial;
        flex-shrink: 1;
      }
    }
  }
}

.logos {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 1.75rem;
}