@import 'app/colors';
@import "settings";

.base-tooltip {
  position: relative;
}

.base-tooltip-content {
  position: absolute;
  bottom: 0;
  left: 120%;
  min-width: 200px;
  min-height: 110px;
  background-color: $dark;
  color: rgba($white, 0.9);
  font-size: 14px;
  font-family: $font-family-regular;
  padding: 20px;
}