@import 'colors';
@import "typography";

$default-trigger-size: 22px;

div[data-react-class=BaseTooltip] {
  display: inline-block;
}

.base-tooltip {
  position: relative;
  >div:first-child {
    height: auto;
  }

  &__default-trigger {
    font-family: $font-family-bold;
    color: white;
    background-color: $blue;
    padding-top: 2px;
    font-size: 16px;
    height: $default-trigger-size;
    width: $default-trigger-size;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $blue-dark;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 120%;
    min-width: 200px;
    max-width: 400px;
    z-index: 10;
    white-space: normal;
    line-height: 1.5rem;
    background-color: $dark;
    color: rgba($white, 0.9);
    font-size: 14px;
    font-family: $font-family-regular;
    padding: 20px;
  }
}
