@import "colors";
@import "typography";

$tape-height: 8px;
$tape-color: rgba(25,25,25,0.1);
$cell-height: 80px;
$legend-image-width: 60px;

.bubble-chart__container {
  width: 100%;
  padding: 50px 0;
  /* CSS GRID */
  display: grid;
  grid-row-gap: 4px;
  align-items: center;

  &--sectors {
    grid-template-rows: 150px auto;

    & > *:nth-child(6n) {
      border-right: none;
    }
  }

  &--banks {
    grid-template-rows: 100px auto;
    padding-top: 120px;

    & > *:nth-child(7n) {
      border-right: none;
    }
  }
}

.bubble-chart__cell {
  position: relative;
  height: $cell-height;
  display: flex;
  align-items: center;
  border-right: calc(#{$tape-height / 2}) dotted $tape-color;

  & > *:first-child {
    margin: auto;
    z-index: 1;
  }

  &::before {
    background-color: $tape-color;
    content: "";
    position: absolute;
    top: calc(50% - #{$tape-height / 2});
    height: $tape-height;
    width: calc(100% + #{$tape-height / 2});
  }
}

.bubble-chart_circle {
  circle:hover {
    stroke-width: 14;
    stroke: $black;
  }
}

.bubble-tip {
  font-size: 14px;
  padding: 10px;
  z-index: 5;

  &--white {
    background-color: $white;
    border: 1px solid $black;
  }

  &--black {
    background-color: $black;
    color: white;
  }

  &-header {
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 12px;
    white-space: nowrap;
  }

  &-text {
    font-size: 16px;
    font-weight: bold;
  }
}

.bubble-chart__legend-container {
  width: 100%;
  height: 60%;
  position: relative;
}

.bubble-chart__title-container {
  display: flex;
  align-items: center;
}

.bubble-chart__container--banks {
  .bubble-chart__title-container {
    position: absolute;
    top: -50px;
  }

  .bubble-chart__header {
    position: absolute;
    right: 0;
    top: -50px;
    transform: translateX(100%);
    font-size: 16px;
    font-weight: bold;
  }
}

.bubble-chart__title {
  color: $grey-dark;
  font-size: $size-6;
  margin-right: 8px;
}

.bubble-chart__legend {
  display: flex;
  position: relative;
}

.bubble-chart__container--sectors {
  .bubble-chart__legend {
    margin-top: 20px;
  }
}

.bubble-chart__legend-image {
  width: 60px;
}

.bubble-chart__legend-titles-container {
  position: absolute;
  color: $dark;
  left: calc(#{$legend-image-width} + 10px);
  top: -10px;
}

.bubble-chart__legend-title {
  font-size: 12px;
  font-family: $font-family-regular;
  margin: 2px 0;
  display: block;
}

.bubble-chart__level {
  border-right: calc(#{$tape-height / 2}) dotted $tape-color;
  position: relative;
  height: 100%;
  padding-left: 20px;
}

.bubble-chart__container--sectors {
  .bubble-chart__level-container {
    position: absolute;
    top: 20%;
  }

  .bubble-chart__level-title {
    font-family: $font-family-bold;
    font-size: 16px;
    color: $black;
  }
}

.bubble-chart__container--banks {
  .bubble-chart__level-title {
    font-family: $font-family-bold;
    font-size: 12px;
    color: $black;
  }

  .bubble-chart__level {
    text-align: center;
  }

  .bubble-chart__legend-container + .bubble-chart__level {
    padding-left: 0px;
    text-align: left;
  }
}

.bubble-chart__level-subtitle {
  color: $grey-dark;
  font-size: 12px;
}

.bubble-chart__row-link {
  color: $blue-dark;
  text-align: right;
  padding-right: 50px;
}
