.chart {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

.chart-title {
  position: absolute;
  top: 42%;
  width: 100px;
  text-align: center;
  line-height: 30px;
}
