.chart {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;

  &--mq-sector-pie-chart {
    .chart-title {
      font-family: $font-family-regular;
      font-size: 16px;

      .companies-size {
        font-size: 36px;
        font-family: $font-family-bold;
      }
    }
  }
}

.chart-title {
  position: absolute;
  top: 42%;
  width: 100px;
  text-align: center;
  line-height: 30px;
}
