$white: #fff;
$blue: #5587F7;
$blue-dark: #0A4BDC;
$blue-darker: #083AAB;
$hawkes-blue: #ECF1FE;
$yellow: #FFDD49;
$light-grey: #DDE7FD;
$grey: #F5F8FE;
$grey-dark: #595B5D;
$dark: #191919;
$black: #000;
