$white: #fff;
$blue-light: #86A9F9;
$blue: #5587F7;
$blue-ribbon: #2465F5;
$blue-dark: #0A4BDC;
$blue-darker: #083AAB;
$hawkes-blue: #ECF1FE;
$yellow: #FFDD49;
$grey-light: #DDE7FD;
$grey-medium: #D8D8D8;
$grey-lighter-medium: #E2E2E2;
$grey: #F5F8FE;
$grey-dark: #595B5D;
$grey-blue: #CFD7ED;
$dark: #191919;
$black: #000;
$green: #00C170;
$purple:#9747FF;

$tpi-level0: $blue-light;
$tpi-level1: $blue;
$tpi-level2: $blue-ribbon;
$tpi-level3: $blue-dark;
$tpi-level4: $blue-darker;
$tpi-level5-background-color: $purple;