.company-page {
  .summary-box {
    background: $grey;
    padding: 40px;

    &--assessment {
      height: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    // & > * {
    //   margin-top: 10px;
    // }

    .mq-level {
      height: 80px;
      width: 80px;
      line-height: 80px;
      border-radius: 50%;

      margin: 20px 0;

      background: $blue-dark;
      color: white;

      font-weight: bold;
    }
  }

  .company-property {
    &__name {

    }

    &__value {
    }
  }

  .management-quality {
    margin-top: 50px;
    margin-bottom: 50px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 20px;
    }

    .column {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mq-assessment-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .mq-level {
        height: 160px;
        width: 160px;
        line-height: 160px;
        border-radius: 50%;

        margin: 10px 0;

        background: $blue-dark;
        color: white;

        font-weight: bold;
        font-size: $size-4;
      }
    }

    .mq-assessment-questions {
      margin-top: 50px;

      .mq-assessment-level {
        padding: 40px;

        border-left: 2px solid $hawkes-blue;

        &__header {
          font-size: 16px;
          font-weight: bold;
        }

        &:not(:last-child) {
          border-bottom: 2px solid $hawkes-blue;
        }

        .mq-assessment-question {
          margin: 30px 0;

          position: relative;

          .mq-assessment-answer {
            width: 36px;
            height: 36px;

            border-radius: 50%;

            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px;

            display: block;
            position: absolute;
            left: -60px;
            top: -10px;

            &--no {
              background-image: image-url('icons/x.svg');
              background-color: #ED3D4A;
            }

            &--yes {
              background-image: image-url('icons/check.svg');
              background-color: #083AAB;
            }

            &--not-applicable {
              background-image: image-url('icons/oval.svg');
              background-color: #C0C2C3;
            }
          }
        }
      }
    }
  }

  section.carbon-performance {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
