
@import "colors";
@import "typography";

$container-top-padding: 40px; // top
$container-side-padding: 96px; // right and left padding
$box-shadow: 30px;
$header-height: 120px;
$header-height-mobile: 60px;

.dropdown-selector__container {
  background-color: $blue;
  max-width: 880px;
  padding: 2rem 0.75rem 1.5rem;
  position: relative;

  &--active {
    background-color: $white;
  }

  @include desktop {
    min-width: 800px;
    padding: $container-top-padding $container-side-padding 140px $container-side-padding;
  }
}

.dropdown-selector__input {
  color: $dark;
  font-size: 30px;
  font-family: $font-family-regular;
  border: none;
  width: 100%;
  outline: none;

  @include desktop {
    font-size: 48px;
  }
}

::placeholder { /* Edge */
  color: rgba(25, 25, 25, 0.25);
}

.dropdown-selector__header {
  color: $white;
  font-size: 30px;
  font-family: $font-family-bold;
  border-bottom: 2px solid $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: $header-height-mobile;
  width: 100%;
  margin-top: 10px;

  &--active {
    border-bottom: 2px solid $black;
  }

  @include desktop {
    font-size: 48px;
    margin-top: 0;
    height: $header-height;
  }
}

.chevron-icon {
  height: 12px;
  margin-right: 8px;
  margin-top: 8px;
}

.chevron-icon-rotated {
  transform: rotate(180deg);
}

.dropdown-selector__wrapper {
  background-color: $blue;
  width: 100%;

  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.dropdown-selector__options-wrapper {
  position: absolute;
  top: calc(100% - $container-top-padding);
  left: calc(-1 * #{$box-shadow});
  width: calc(100% + (2 * #{$box-shadow})); // 60px = 2 x 30px for box shadow from left and right
  margin-top: 20px;
  z-index: 15;
  overflow: hidden;
}

.dropdown-selector__options {
  box-shadow: 0 0 $box-shadow 0 rgba(25, 25, 25, 0.15);
  margin: 0 $box-shadow $box-shadow $box-shadow;
  background-color: $white;
  padding-bottom: 20px;
  min-height: $header-height-mobile;
  max-height: 290px;
  overflow-y: scroll;

  & > * {
    padding: 0.5rem 0.75rem;
  }

  @include desktop {
    min-height: $header-height;

    & > * {
      padding: 8px $container-side-padding;
    }
  }
}

.dropdown-selector__option {
  @include desktop {
    font-size: 24px;
    line-height: 30px;
  }
  color: rgba(25, 25, 25, 0.5);
  cursor: pointer;

  &:hover {
    background-color: $blue-dark;
    color: $white;
  }
}

.dropdown-selector__option-company {
  @include desktop {
    padding: 8px 110px;
  }
}

.dropdown-selector__buttons {
  display: flex;

  & * > {
    margin-right: 10px;
  }
}

%shared-button-config {
  font-size: 16px;
  border: none;
  padding: 8px 12px;
  outline: none;
  cursor: pointer;
}

.dropdown-selector__button {
  @extend %shared-button-config;
  font-family: $font-family-regular;
  background-color: transparent;
  color: $white;
  font-size: $size-7;

  @include desktop {
    font-size: $size-6;
  }
}

.dropdown-selector__active-button {
  @extend %shared-button-config;
  background-color: $blue-dark;
  color: $white;
  font-family: $font-family-bold;
  font-size: $size-7;

  @include desktop {
    font-size: $size-6;
  }
}

.dropdown-selector__not-active-opened {
  background-color: $white;
  color: $blue-dark;
}

.dropdown-selector__sector-name {
  font-family: $font-family-bold;
  font-size: 16px;
  color: rgba($black, 0.9);
  text-transform: uppercase;
}
