@import "variables";

.emissions {
  padding-bottom: 30px;
  &__filters {
    margin-bottom: 66px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;

    &.assessments {
      margin-top: 10px;
      margin-bottom: 0px;
    }

    &__emissions {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }

    &__country-selector {
      .button {
        padding: 12px 16px;
      }

      &__countries {
        height: 0;
        overflow: hidden;

        &.--countries-open {
          overflow: visible;
        }

        &__wrapper {
          z-index: 10;
          position: relative;
          top: 18px;
          padding: 24px;
          border: 1px solid $grey-dark;
          background: #fff;
        }

        &__label {
          color: $grey-dark;
          font-family: $family-sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 15px;
        }

        &__list {
          max-height: 300px;
          overflow-y: auto;
          margin-block: 24px;
          position: relative;

          li {
            display: flex;
            gap: 20px;
            align-items: center;
            margin-bottom: 16px;

            input {
              width: 24px;
              height: 24px;
            }
          }
        }

        &__button {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
  &__chart {
    > div,
    .highcharts-container {
      overflow: visible !important;

      @include until($breakpoint-desktop) {
        .highcharts-axis-title {
          transform: translateY(-15px) !important;
          left: 0 !important;
        }
      }
    }

    &__tooltip {
      > span {
        background-color: #fff;
        padding: 24px;
        border: 1px solid $grey-dark;
      }
      &__header {
        display: flex;
        justify-content: space-between;
        color: $dark;
        font-family: $family-sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 12px;
      }
      &__item {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        > div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .--target {
          color: $grey-dark;
          font-weight: 400;
        }
      }
    }

    &__legend {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      @include until($breakpoint-desktop) {
        margin-top: 30px;
      }

      &__label {
        display: flex;
        justify-content: center;
        gap: 8px;
        padding: 7px 12px;
        border: 1px solid rgba(89, 91, 93, 0.5);
        color: $grey-dark;
        font-family: $family-sans-serif;
        font-size: 12px;

        @include until($breakpoint-desktop) {
          // margin-top: 30px;
          padding: 6px 10px;
          font-size: 10px;
        }

        span {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          display: inline-block;

          @include until($breakpoint-desktop) {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
    .highcharts-legend > div > div {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      width: 80vw;
      margin-top: 44px;

      @include until($breakpoint-desktop) {
        margin-top: 24px;
      }

      .highcharts-legend-item.highcharts-line-series {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;

        span {
          position: relative !important;
          top: 0 !important;
          left: 0 !important;
        }
      }
      .highcharts-legend-item-hidden {
        opacity: 0.5 !important;
      }
    }
  }
}
