@import "tpi/sizes";
@import "tpi/colors";

.footer__information {
  background-color: $dark;
  padding: 1.75rem;
  padding-top: 5rem;

  @media #{$tablet-portrait} {
    padding: unset;
    padding-top: 5rem;
  }

  hr {
    height: 1px;
    background-color: $grey-dark;
  }

  h2, h4 {
    padding-bottom: $size-2;
  }

  h2, h4,
  .content {
    color: rgba($white, 0.9);
  }

  .content {
    font-size: $size-6;
  }

  .footer__bottom {
    padding-top: $size-6;
    padding-bottom: 60px;
  }

  .footer__copyright {
    display: flex;
    justify-content: flex-end;
    color: $white;
  }

  .footer__menu-list {
    display: flex;
    align-items: center;

    .column {
      flex-basis: auto;
    }
  }

  .button__contact {
    @include mobile {
      display: none;
    }
  }

  .footer-link {
    color: $white;
  }
}

@include until($desktop) {
  .footer__information {
    padding: 0.75rem;
    padding-top: 2.5rem;

    h4, h2 {
      padding-bottom: 1.5rem
    }

    hr {
      margin: 0 -0.75rem;
    }

    .footer__menu-list {
      display: flex;
      margin-left: 0;
      width: 100%;
      justify-content: space-between;

      .column {
        padding: 0;
        font-size: $size-6;
        flex-grow: unset;
      }
    }

    .footer__menu {
      padding: 0.75rem 0;
    }

    .footer__bottom {
      margin-bottom: 1rem;
      margin-left: 0;
      margin-top: 1.5rem;
      padding-bottom: 0;
      padding-top: 0;
    }

    .footer__copyright {
      font-size: $size-7;
      padding: 0.75rem 0;
    }
  }
}
