@import "tpi/sizes";
@import "tpi/colors";

.footer__information {
  background-color: $dark;
  padding-bottom: 20px;

  @include tablet {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .contact-button-container {
    border-bottom: 1px solid $grey-dark;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100vw;
  }

  .footer__copyright {
    display: flex;
    justify-content: flex-end;
    color: $white;

    @include mobile {
      font-size: 12px;
    }
  }

  .footer__menu {
    @include mobile {
      margin-top: 40px;
    }

    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  .footer__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include mobile {
      font-size: 14px;
    }

    .column {
      flex-basis: auto;
    }
  }

  .footer-link {
    color: $white;
  }
}
