@import "colors";
@import "typography";

$home-background: image-url("homepage/homepage-bg.jpg");

.tpi-home__hero {
  color: $white;
  position: relative;
  display: flex;
  overflow: hidden;

  &.is-primary {
    padding: 0;
    background: $blue-dark;

    @include from($tablet) {
      min-height: 500px;
    }

    @include mobile {
      height: 340px;
      max-height: 340px;

      & > .container > .columns {
        z-index: 1;
        position: relative;
      }
    }

    .mobile-background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: $home-background;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: .2;
      filter: grayscale(100%);
      z-index: 0;
    }

    .left-size {
      @include mobile {
        margin: 26px 15px 43px;
      }

      @include from($tablet) {
        margin: 80px 0;
      }

      @include tablet {
        margin-left: 20px;
      }
    }

    .title {
      color: $white;
    }

    .description {
      display: flex;
      justify-content: center;
      line-height: $size-4;

      @media #{$tablet-portrait} {
        justify-content: left;
        width: 100%;
      }
    }

    .button__container {
      display: flex;
      justify-content: center;

      @include mobile {
        margin-top: 20px;
      }

      @include from($tablet) {
        margin-top: 50px;
        justify-content: left;
      }

      .button__hero {
        @extend .is-medium, .is-fullwidth;

        height: 3.125rem;
        width: 100%;

        @include from($tablet) {
          height: 5rem;
          width: 280px;
          max-width: 280px;
          margin: 0;
        }

        background-color: $blue-darker;
      }
    }
  }

  .hero__splash {
    & > .background {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $home-background;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;

      &::after {
        position: absolute;
        top: 0;
        left: -300px;
        right: 0;
        bottom: 0;
        content: " ";
        height: 50%;
        background-image: image-url("homepage/homepage_pattern.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 0;
        background-position-y: -300px;
      }
    }
  }

  &.is-secondary {
    background: $blue;
    background-image: image-url('hero_background_dark.svg');
    background-position: -60px -60px;
    background-repeat: no-repeat;
    background-size: contain;

    @include until($desktop) {
      padding-top: 1.5rem;
    }

    @include from($tablet) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .button__icon {
      background: $blue-darker;
    }
  }
}

.section-clickable {
  margin: 20px 0 30px;

  @include until($desktop) {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    .subsection-button__container {
      .section-button {
        background-color: $yellow;
        background-image: image-url('icons/plus-blue.svg');
      }

      .button__title {
        text-decoration: underline;
      }
    }
  }

  .subsection-content__container {
    display: flex;
    flex-direction: column;
  }
}

.section-title {
  margin-bottom: 20px;
  color: $white;
}

.section-description {
  margin-bottom: 20px;
  color: $white;
}

.section-button {
  background-color: $blue-darker;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  color: $white;
  font-family: $font-family-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-image: image-url('icons/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.subsection-button__container {
  display: flex;
  align-items: center;
  color: $white;
  bottom: 20px;
}

.button__title {
  font-size: 16px;
  font-family: $font-family-bold;
  color: $white;
}

.separator {
  opacity: 0.5;

  @include from($tablet) {
    width: 1px;
    height: 100%;
    border-left: 1px solid $white;
  }

  @include mobile {
    width: 85%;
    height: 2px;
    border-top: 1px solid $white;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.right-column {
  padding: 0.75rem;

  @media #{$tablet-portrait} {
    padding: 0.75rem 2.75rem;
  }
}

.column-left {
  flex: 50%;
  margin-bottom: 70px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$tablet-portrait} {
    margin-bottom: 0;
    margin-left: 4%;
    margin-right: 2%;
    padding-left: 1.5rem;
    align-items: flex-start;
    margin-top: 0;
  }
}

.column-right {
  flex: 50%;

  img {
    height: 100%;
    width: 100%;
  }
}
