$line-height: 24px;
$max-lines: 3;
$dots-space: 1.3rem;

.latest-information {
  &__wrapper {
    background-color: $blue-dark;
    color: $white;
    padding-top: 86px;
    padding-bottom: 136px;
    margin-top: 50px;
  }

  &__container {
    margin: 0 auto;
    max-width: 700px;

    @include from($desktop) {
      max-width: 850px;
    }
  }

  &__header {
    margin-bottom: 36px;
    font-family: $family-sans-serif-bold;
  }

  &__description {
    line-height: $line-height;
    font-size: 16px;

    a {
      color: inherit;
    }
  }

  &__description--folded {
    max-height: calc(#{$line-height} * #{$max-lines});
    overflow: hidden;
    position: relative;
    margin-right: calc(-1 * #{$dots-space});
    padding-right: $dots-space;

    &::before {
      content: "[...]";
      font-size: 12px;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0; /* note: not using bottom */
      width: 1.7rem;
      height: 1.7rem;
      background: $blue-dark;
      margin-top: 0.2rem;
      margin-right: -5px;
    }
  }

  &__button {
    height: 30px;
    width: 30px;
    background-color: $blue-darker;
    border-radius: 50%;
    padding: 8px;
    margin-right: 14px;
  }

  &__button-text {
    font-size: 16px;
    font-family: $family-sans-serif-bold;
    color: $white;
  }

  &__button-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 40px;

    &:focus {
      outline-color: $yellow;
      outline-style: solid;
      outline-width: 2px;
    }
  }

  @include until($desktop) {
    &__wrapper {
      padding: 1.5rem 0.75rem 2rem;
    }

    &__header {
      margin-bottom: 20px;
    }

    &__description,
    &__description--folded {
      margin-bottom: 25px;
      font-size: $size-6;
      line-height: 24px;

      &::before {
        content: ''
      }
    }
  }
}
