@mixin mq-level($size, $font-size: $size-5) {
  height: $size;
  width: $size;
  line-height: $size;
  border-radius: 50%;

  margin: 20px 0;

  background: $blue-dark;
  color: white;

  font-weight: bold;
  font-size: $font-size;

  .mq-level-trend {
    @include mq-level-trend($size / 4);
  }
}

@mixin mq-level-trend($size) {
  width: $size;
  height: $size;

  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;

  &--unchanged, &--new {
    display: none;
  }

  &--up {
    background-image: image-url('icons/trending-up');
  }

  &--down {
    background-image: image-url('icons/trending-down');
  }
}
