@mixin mq-level($size, $font-size: $size-5) {
  @include mq-level-backgrounds;

  height: $size;
  min-height: $size;
  width: $size;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 20px 0;

  color: white;

  font-weight: bold;
  font-size: $font-size;
  line-height: $font-size;

  &> * {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .mq-level-trend {
    @include mq-level-trend($size / 4);

    &__container {
      flex-direction: column;
      margin-top: -$size/16;

      &> * {
        &:not(:last-child) {
          margin: 0;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@mixin mq-level-trend($size) {
  width: $size;
  height: $size;

  background-repeat: no-repeat;
  background-size: 100%;

  &__container {
    display: inline-flex;

    &> * {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &--unchanged, &--new {
    display: none;
  }

  &--up {
    background-image: image-url('icons/trending-up');
  }

  &--down {
    background-image: image-url('icons/trending-down');
  }

  &--star {
    background-image: image-url('icons/star');
  }
}

@mixin mq-level-backgrounds {
  &.level0 {
    background-color: $tpi-level0;
  }

  &.level1 {
    background-color: $tpi-level1;
  }

  &.level2 {
    background-color: $tpi-level2;
  }

  &.level3 {
    background-color: $tpi-level3;
  }

  &.level4 {
    background-color: $tpi-level4;
  }
}
