.mq-beta-scores {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  &__container {
    display: flex;
    flex-wrap: wrap;
    @include until($desktop) {
      padding: 0;
      width: 100%;
      margin-inline: 12px;
    }
  }

  &__text {
    color: $white;
    line-height: 40px;
    margin-right: 10px;
    @include until($desktop) {
      flex-direction: column;
      width: 100%;
      // padding-inline: 12px;
    }
  }

  &__divider {
    margin: 0 15px 0 5px;

    @include until($desktop) {
      display: none;
    }
  }

  a {
    padding: 10px 12px;
    &.button:not(.active):hover {
      text-decoration: underline;
      background-color: transparent;
    }
    &:first-of-type {
      order: 3;
      margin-right: 12px;
    }
  }


  .button {
    height: 36px !important;

    @include until($desktop) {
      width: 50%;
      height: 40px;
      margin-right: 0;
    }
    &.active {
      background-color: $blue-dark;
      transform: translateY(1px);
      color: $white;
      @include until($desktop) {
        background-color: $white;
        color: $blue;
        border-color: transparent;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__beta-button {
    order: 2;
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &__download-button {
    flex-grow: 4;
    text-align: right;
    display: flex;
    gap: 5px;
    justify-content: end;

    .button {
      background-color: $blue;
      height: 36px !important;
    }

    @include until($desktop) {
      background-color: #fff;
      padding-inline: 12px;
      padding-block: 40px;
      flex-direction: column;
      .button {
        background-color: $white;
        color: $blue !important;
        border-color: $blue !important;
        width: 100%;
        &::before {
          content: ' ';
          width: 16px;
          height: 16px;
          background-image: image-url("tpi/icons/download.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        
      }
    }
  }
}
