.mq-beta-scores {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @include until($desktop) {
    flex-direction: column;
  }

  &__container {
    display: flex;
  }

  &__text {
    color: white;
    line-height: 40px;
    margin-right: 10px;
  }

  &__divider {
    margin: 0 15px 0 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    @include until($desktop) {
      display: none;
    }
  }

  &__beta-button:before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    background-color: $tpi-level5-background-color;
    vertical-align: middle;
    border: 1px solid $white;
  }

  &__download-button {
    flex-grow: 4;
    text-align: right;

    @include until($desktop) {
      margin-bottom: 10px;
    }
  }
}