@import "sizes";
@import "colors";

.tpi__navbar {
  .header-nav {
    width: 100%;
    background-color: $dark;
  }

  .navbar-link {
    .icon {
      &.chevron-down {
        margin-left: 10px;
        background-image: image-url('icons/white-chevron-down.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
      }
    }
  }

  .navbar-dropdown {
    width: 300px;

    > .navbar-item {
      font-size: $size-6;
      padding-top: 10px;
      padding-bottom: 10px;

    }
  }
}
