.nested-dropdown {
  height: 40px;
  position: relative;
  background: $white;

  img {
    margin-left: 10px;
  }

  &__list {
    z-index: 100;
    min-width: 100%;
    border: 1px solid $black;
    background: $white;
    position: absolute;
  }

  > &__list {
    right: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 1px solid $black;
    color: $black;
    cursor: pointer;
    height: 100%;
    user-select: none;
  }

  &__title-header {
    display: flex;
    flex-direction: column;
    font-size: 16px;

    small {
      margin-top: -7px;
      font-size: 10px;
      color: $grey-dark;
    }
  }

  &__item {
    > div {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      cursor: pointer;
      background: $white;
      color: $black;
      line-height: 40px;
      white-space: nowrap;
    }

    img {
      transform: rotate(-90deg);
    }

    &:hover {
      background: $blue-dark;
      color: $white;
    }

    @include until($desktop) {
      &.open {
        img {
          transform: none;
        }
      }
    }

    > .nested-dropdown__list {
      top: 0;
      left: 100%;

      &.left {
        left: unset;
        right: 100%;
      }

      @include until($desktop) {
        border-left: none;
        border-right: none;
        flex-direction: column;
        left: 0;
        position: relative;

        &.left {
          right: 0;
        }
      }
    }
  }

  &--open {
    .nested-dropdown__title {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &--blue:not(.nested-dropdown--open) {
    background: $blue;

    .nested-dropdown__title {
      border: 1px solid $white;
      color: $white;
    }
  }

  &--ascor:not(.nested-dropdown--open) {
    background: $ascor-background-color;

    .nested-dropdown__title {
      border: 1px solid $white;
      color: $white;
    }
  }
}
