@import "bulma/sass/utilities/all";
@import "sizes";
@import "colors";
@import "typography";

$lists-margin: 5px;
$lists-line-height: 24px;
$text-indent: 26px;
$margin-between-list-items: 20px;

.pages__grid {
  width: 100%;
  padding: 0 15px;

  @include desktop {
    width: 75%;
    padding: unset;
  }
}

.pages__title {
  margin-top: 65px;
  margin-bottom: 40px;
}

.pages__description {
  color: $dark;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;

  h1 {
    font-size: 20px !important;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 45px;
    margin-bottom: 15px;
  }

  @include from($desktop) {
    h4.pages__content-subtitle {
      margin-top: 0;
    }
  }

  img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.pages__content {
  margin-bottom: 70px;

  * > {
    ul {
      margin-left: $lists-margin;
      list-style: none;

      li {
        line-height: $lists-line-height;
        margin-bottom: $margin-between-list-items;

        &:before {
          display: inline-block;
          content: '';
          border-radius: 50%;
          height: 0.4em;
          width: 0.4em;
          margin-right: 1em;
          background-color: $dark;
          vertical-align: middle;
        }
      }
    }

    ol {
      margin-left: calc(#{$text-indent} + #{$lists-margin});

      li {
        list-style-type: decimal;
        list-style-position: inside;
        line-height: $lists-line-height;
        margin-bottom: $margin-between-list-items;
        text-indent: calc(-1 * #{$text-indent});

        &:before {
          display: inline-block;
          content: '';
          width: 10px;
        }
      }
    }

    a {
      color: $blue;
      font-family: $font-family-bold;

      &:hover {
        color: $blue-darker;
        text-decoration: underline;
      }

      &:focus {
        color: $blue-darker;
        background-color: $yellow;
        text-decoration: underline;
      }
    }
  }

  &.text-description {
    display: flex;
    font-family: $family-sans-serif;

    .pages__content-logos {
      grid-template-columns: repeat(2, 1fr);
      margin-right: 30px;
      min-width: 50%;

      img {
        max-height: 280px;
      }
    }

    .pages__content-logo {
      margin-right: 60px;

      > div {
        background-position: center;
        background-size: cover;
        height: 240px;
        width: 240px;
        border-radius: 50%;
      }
    }

    @include until($desktop) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &.logo-description {
    display: block;
    font-family: $family-sans-serif;

    .pages__content-logos {
      grid-template-columns: repeat(2, 1fr);
      margin-right: 30px;
      min-width: 50%;

      img {
        max-height: 280px;
      }
    }

    .pages__content-logo {
      margin-bottom: 24px;

      img {
        max-width: 240px;
      }
    }

    @include until($desktop) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}

.pages__content-title {
  margin-bottom: 30px;
  font-family: $font-family-bold;
  font-size: 20px;
  color: $dark;
}

.pages__content-subtitle {
  margin-bottom: 30px;
  font-family: $font-family-bold;
  font-size: 20px;
  color: $dark;
}

.pages__content-logos {
  display: grid;
  grid-row-gap: 4px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.pages__date {
  margin-bottom: 30px;
  font-style: italic;
}

.pages__image {
  margin-bottom: 30px;
}
