@import "bulma/sass/utilities/all";
@import "sizes";
@import "colors";
@import "typography";

.pages__title {
  margin-top: 80px;
  margin-bottom: 40px;
}

.pages__description {
  color: $dark;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
}

.pages__content {
  margin-bottom: 70px;
}

.pages__content-title {
  margin-bottom: 30px;
  font-family: $font-family-bold;
  font-size: 20px;
  color: $dark;
}

.pages__content-logos {
  display: grid;
  grid-row-gap: 4px;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}