@import "sizes";
@import "colors";

$line-height: 1.5rem;
$max-lines: 3;

.publications {
  &__title {
    margin-top: 80px;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 50px;

    & > .column:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__grid {
    margin-bottom: 80px;
  }

  &__load-more {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.promoted-publications {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @media #{$tablet-portrait} {
      flex-direction: row;
    }
  }

  &__title-text {
    margin-bottom: 20px;

    @media #{$tablet-portrait} {
      margin-bottom: 0;
    }
  }

  &__publications {
    margin-top: 50px;

    & > columns {
      display: flex;
      justify-content: space-between;
    }
  }
}

.publication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;

  &__avatar {
    width: 100%;
    margin-bottom: 20px;
  }
  &__content {
    margin-top: auto;

    & > .updated_at {
      font-size: $size-7;
      color: $grey-dark;
      margin-bottom: 10px;
    }

    & > .content__message {
      display: flex;
      align-items: flex-end;

      & > p {
        color: rgba($black, 0.9);
        font-size: $size-6;
      }
    }
  }

  .content__title-wrapper {
    height: calc(#{$line-height} * #{$max-lines});
    margin-bottom: 10px;
  }

  .content__title {
    max-height: calc(#{$line-height} * #{$max-lines});
    overflow: hidden;
    position: relative;
    margin-right: -1rem;
    padding-right: 1rem;

    &::before {
      content: "[...]";
      font-size: 12px;
      position: absolute;
      bottom: 3px;
      right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0; /* note: not using bottom */
      width: 1.7rem;
      height: 1.7rem;
      background: white;
      margin-top: 0.2rem;
      margin-right: 0.1rem;
    }
  }

  // &__tags {
  //   margin-top: 15px;
  //   display: flex;
  //   align-items: flex-start;

  //   & > .tag {
  //     margin-right: 12px;
      
  //     &:last-child {
  //       margin-right: 0;
  //     }
  //   }
  // }
}

.publications__grid {
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding: 1.75rem;

  @media #{$tablet-portrait} {
    grid-template-columns: repeat(3, 1fr);
  }
}