@import "bulma/sass/utilities/all";
@import "sizes";
@import "colors";

.publications {
  &__title {
    margin-top: 80px;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 50px;

    & > .column:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__grid {
    margin-bottom: 80px;
  }

  &__load-more {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.promoted-publications {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @media #{$tablet-portrait} {
      flex-direction: row;
    }
  }

  &__title-text {
    margin-bottom: 20px;

    @media #{$tablet-portrait} {
      margin-bottom: 0;
    }
  }

  &__publications {
    margin-top: 50px;

    & > columns {
      display: flex;
      justify-content: space-between;
    }
  }
}

.publication {
  &__avatar {
    width: 100%;
  }

  &__tags {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;

    & > .tag {
      margin-right: 12px;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__content {
    margin-top: 20px;

    & > .updated_at {
      font-size: $size-7;
      color: $grey-dark;
    }

    & > .content__title {
      margin-top: $size-7;
      height: 80px;
      max-height: 80px;
    }
    
    & > .content__message {
      height: 70px;
      max-height: 70px;

      & > p {
        color: rgba($black, 0.9);
        font-size: $size-6;
      }
    }
  }
}