@font-face {
  font-family: "BrownTT Regular";
  src: font-url("BrownTT-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BrownTT Bold";
  src: font-url("BrownTT-Bold.ttf") format("truetype");
}

$font-family-bold: "BrownTT Bold";
$font-family-regular: "BrownTT Regular";

::selection {
  background-color: $yellow;
}

h1 {
  @extend .is-size-1;
  font-family: "BrownTT Bold";
}

h2 {
  @extend .is-size-2;
  font-family: "BrownTT Bold";
}

h3 {
  @extend .is-size-3;
  font-family: "BrownTT Bold";
}

h4 {
  @extend .is-size-4;
  font-family: "BrownTT Bold";
}

h5, h6 {
  @extend .is-size-5;
}

p {
  @extend .is-size-6;
}

small {
  @extend .is-size-7;
}