@import "colors";
@import "typography";

$primary: $blue;
$radius: 0;

// $control-border-width: 2px;
$input-border-color: $blue;
// $input-shadow: none;

// LAYOUT AND GRID
$body-size: 16px;
$body-line-height: 1.5;
$text: $dark;
$family-sans-serif: "BrownTT Regular";
$family-sans-serif-bold: "BrownTT Bold";
$widescreen-enabled: true;
$fullhd-enabled: false;

$gap: 32px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;
// 960px container + 4rem
$desktop: 960px + (2 * $gap);
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap);
$widescreen-enabled: true;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap);

$dimensions: 16 24 32 48 64 92 128;

// LINKS
$link: $blue;
$link-hover: $blue-darker;
$link-focus: $blue-darker;
$link-active: $blue-darker;

// BUTTONS
$button-color: $blue;
$button-border-width: 4px;
$button-border-color: $blue;
$button-hover-color: $blue-dark;
$button-hover-border-color: $blue-dark;
$button-focus-color: $blue-darker;
$button-focus-border-color: $yellow;
$button-focus-box-shadow-size: 0;
$button-padding-horizontal: 3rem;

// NAVBAR
$navbar-background-color: $dark;
$navbar-box-shadow-size: 0;
$navbar-bottom-box-shadow-size: 0;
$navbar-height: 3.75rem;
$navbar-breakpoint: $desktop;
// $navbar-padding-vertical: ;
// $navbar-padding-horizontal: ;
$navbar-tab-active-background-color: $blue;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $grey-dark;
$navbar-item-active-color: white;
$navbar-item-active-background-color: $blue;
$navbar-dropdown-background-color: $grey-dark;
$navbar-dropdown-radius: none;
// $navbar-dropdown-offset: 0;
$navbar-dropdown-border-top: none;
$navbar-dropdown-boxed-shadow: none;
$navbar-dropdown-item-hover-color: white;
$navbar-dropdown-item-hover-background-color: $blue;
$navbar-dropdown-item-active-color: white;
$navbar-dropdown-item-active-background-color: $blue;
$navbar-bottom-box-shadow-size: 0;

// TAGS
$tag-background-color: $white;
$tag-color: $grey-dark;
$tag-radius: 0;

// Responsive breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-large: 1400px;

//RESPONSIVE
$tablet-portrait: 'screen and (min-width: #{$breakpoint-tablet})';
