@import "variables";

$button-border-width: 4px;

.link {
  font-family: $family-sans-serif-bold;
  cursor: pointer;

  &.is-hovered,
  &:hover,
  &.is-focused,
  &:focus {
    color: $blue-darker;
    text-decoration: underline;
  }

  &.is-focused,
  &:focus {
    background: $yellow;
    padding: 0 3px 3px 3px;
  }

  &.with-icon {
    img {
      margin-right: 3px;
      vertical-align: middle;
    }
  }
}

.button {
  $button-height: 40px;
  min-width: 160px;
  height: $button-height;
  font-family: $family-sans-serif-bold;
  cursor: pointer;
  border-radius: 0 !important;

  &.is-centered {
    justify-content: center;
    align-items: center;
    height: $button-height;
  }

  &.is-primary {
    justify-content: center;
    align-items: center;
    height: $button-height;
    background-color: $primary;

    &.is-small {
      border-radius: 0;
      height: 30px;
      min-width: 100px;
    }

    &.is-hovered,
    &:hover {
      background-color: $blue-dark;
    }

    &.is-focused,
    &:focus {
      background-color: $blue-darker;
      border-color: $yellow;
      height: $button-height;
    }

    &.with-border {
      border: 1px solid $grey;
      height: $button-height;

      &.is-hovered,
      &:hover {
        border: 1px solid $white;
      }
    }

    &.is-outlined {
      border-color: $primary;
      color: $primary;

      &:hover,
      &:focus {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }

  &.is-secondary {
    border: 1px solid $blue;
    color: $blue;
    justify-content: center;
    align-items: center;

    &.is-small {
      border-radius: 0;
      height: 30px;
      min-width: 100px;
    }

    &.is-hovered,
    &:hover,
    &.is-focused,
    &:focus {
      background-color: $grey;
      color: $blue-dark;
    }

    &.is-hovered,
    &:hover {
      border-color: $blue-dark;
    }

    &.is-focused,
    &:focus {
      border-color: $yellow;
    }
  }

  &.is-red {
    border: 1px solid $red;
    background-color: $red;
    color: $white;
    justify-content: center;
    align-items: center;

    &.is-small {
      border-radius: 0;
      height: 30px;
      min-width: 100px;
    }

    &.is-hovered,
    &:hover,
    &.is-focused,
    &:focus {
      background-color: $red;
      color: $white;
    }

    &.is-hovered,
    &:hover {
      border-color: $red;
    }

    &.is-focused,
    &:focus {
      border-color: $yellow;
    }
  }

  &.with-icon {
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}
