<div style="margin: 25px 0">
  <h3 class="cp_assessments_title">
    Carbon Performance Alignment Matrix
  </h3>
  <p style="margin: 25px 0">To view Carbon Performance pathway, access the chart by clicking the arrow available next to each sector.</p>
  <%= react_component('charts/cp-matrix', {
    data: cp_matrix_data_tpi_bank_path(bank),
  }) %>
</div>