<% content_for :page_title, "Banking Tool - Transition Pathway Initiative" %>
<% content_for :page_description, "TODO: Description of Banking tool" %>

<div class="banks-index-page">
  <div class="dropdown-selector-wrapper">
    <%= react_component("BankDropdown", {
      banks: @banks_json,
      selectedOption: 'All banks'
      }) %>
  </div>

  <section class="container">
    <div>
      <h2 class="is-size-4">
        Average bank score across each area: <%= react_component("BaseTooltip", { content: t('.tooltips.mq_header') }) %>
      </h2>
    </div>

    <%= react_component('charts/average-bank-score', { dataUrl: average_bank_score_chart_data_tpi_banks_path }) %>
    <%= react_component("charts/bank-bubble/Chart", { results: @results }) %>
  </section>
</div>
