$blue: #5587F6;
$blue-dark: #0A4BDC;
$blue-darker: #083AAB;
$yellow: #FFDD49;
$dark: #191919;
$grey: #F5F8FE;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;