@font-face {
  font-family: "BrownTT Regular";
  src: url("/assets/BrownTT-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BrownTT Bold";
  src: url("/assets/BrownTT-Bold.ttf") format("truetype");
}

$body-size: 16px;
$text: $dark;
$family-sans-serif: "BrownTT Regular";
$family-sans-serif-bold: "BrownTT Bold";

h1 {
  @extend .is-size-1;
}

h2 {
  @extend .is-size-2;
}

h3 {
  @extend .is-size-3;
}

h4 {
  @extend .is-size-4;
}

h5, h6 {
  @extend .is-size-5;
}

p {
  @extend .is-size-6;
}

small {
  @extend .is-size-7;
}
