@import "app/colors";

.banner {
  height: 140px;
  display: flex;
  align-items: center;

  .column {
    align-items: flex-end;
  }

  .partners--container {
    .content {
      display: flex;
      justify-content: flex-end;
    }
  }

  .partners {
    align-items: center;

    .column {
      flex-grow: 0;
      flex-basis: initial;
      flex-shrink: 1;
    }
  }
}

.header-nav {
  width: 100%;
  background-color: $dark;
}

.navbar-item,
.navbar-link {
  padding: 0.5rem 1.25rem;
}

.navbar-dropdown {
  @if $desktop {
    width: 300px;
  }

  > .navbar-item {
    font-size: $size-6;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
