@import "app/variables/typography";

$button-border-width: 4px;

.link {
  font-family: $family-sans-serif-bold;

  &.is-hovered,
  &:hover,
  &.is-focused,
  &:focus {
    color: $blue-darker;
    text-decoration: underline;
  }

  &.is-focused,
  &:focus {
    background: $yellow;
    padding: 0 3px 3px 3px;
  }
}

.button {
  min-width: 160px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-family: $family-sans-serif-bold;
  
  &.is-small {
    border-radius: 0;
    height: 30px;
    min-width: 100px;
  }

  &.is-primary {
    &.is-hovered,
    &:hover {
      background-color: $blue-dark;
    }

    &.is-focused,
    &:focus {
      background-color: $blue-darker;
      border-color: $yellow;
      border-width: 4px;
    }
  }

  &.is-secondary {
    border: 2px solid $blue;
    color: $blue;

    &.is-hovered,
    &:hover,
    &.is-focused,
    &:focus {
      background-color: $grey;
      color: $blue-dark;
    }

    &.is-hovered,
    &:hover {
      border-color: $blue-dark;
    }

    &.is-focused,
    &:focus {
      border-color: $yellow;
    }
  }
}
