<div class="map-container">
  <div class="map">
    map
  </div>
  <div class="designations">
    <div class="columns">
      <div class="column is-half">
        <div class="name">Number of renewable energy laws and policies</div>
        <div class="img-describe">
          <div><div class="circle circle-size-1"></div>1</div>
          <div><div class="circle circle-size-2"></div>2</div>
          <div><div class="circle circle-size-3"></div>3</div>
          <div><div class="circle circle-size-4"></div>4</div>
        </div>
        <div>
          The <b>size</b> of the circle represents the number of renewable energy laws and policies in a country. The larger the circle, the higher the number of renewable energy laws and policies.
        </div>
      </div>
      <div class="column is-half">
        <div class="name">Renewable energy consumption (% of total final energy consumption)</div>
        <div class="img-describe">
          <div><div class="rectangle rectangle-cl-1"></div><15%</div>
          <div><div class="rectangle rectangle-cl-2"></div>15%-30%</div>
          <div><div class="rectangle rectangle-cl-3"></div>30-45%</div>
          <div><div class="rectangle rectangle-cl-4"></div>>45%</div>
        </div>
        <div>
          The <b>colour</b> of the circle represents a country’s renewable energy consumption. The darker the circle, the higher the percentage of renewable energy consumption.
        </div>
      </div>
    </div>
  </div>
</div>
