<ul class="publications-list content-list">
  <li class="publication">
    <div class="avatar">
      avatar
    </div>
    <div class="desc">
      <div class="title">
        Promoting flood risk reduction: The role of insurance in Germany and England
      </div>
      <div class="meta">
        <div>a research article by <span class="author-name">Swenja Surminski</span></div>
        <div>5 October, 2017</div>
      </div>
      <div>
        Improving society’s ability to prepare for, respond to and recover from flooding requires integrated, anticipatory flood…
      </div>
    </div>
  </li>
</ul>
