<%= render layout: 'layout' do %>
  <div class="geography-laws">
    <h1>Policies</h1>

    <div class="list">
      <% @legislations.each do |l| %>
        <%= render 'list_item', title: l.title, description: l.description %>
      <% end %>
    </div>
  </div>
<% end %>
