<div class="content-show">
  <h3>Overview and context</h3>
  <%= render 'cclow/geographies/overview', geography_overview: @geography_overview, geography: @geography %>
  <section class="section is-medium">
    <h5>Legislative process</h5>
  </section>
  <section class="section is-medium">
    <h5>Legislative process</h5>
    <div>
      <%= @geography_overview.legislative_process&.html_safe %>
    </div>
  </section>
</div>
