$see-more-width: 100px;
$see-more-width-tablet: 130px;

.ascor-page {
  .dropdown-selector-wrapper {
    position: relative;
    background-color: $ascor-background-color;

    .dropdown-selector__container {
      background-color: $ascor-background-color;

      @include desktop {
        padding: $container-top-padding $container-side-padding 40px $container-side-padding;
      }
    }

    .dropdown-selector__container--active {
      background-color: $white;
    }

    .dropdown-selector__wrapper {
      background-color: $ascor-background-color;
    }

    .dropdown-selector__active-button {
      background-color: $dark;
    }

    @include desktop {
      height: 335px;
    }

    .left-icon {
      background-image: image-url('tpi/ascor/circles_1.svg');
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      position: absolute;
      background-position-y: 30px;
    }

    .right-icon {
      background-image: image-url('tpi/ascor/circles_2.svg');
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      position: absolute;
      background-position-x: 100%;
    }

    .bottom-icon {
      background-image: image-url('tpi/ascor/logo.png');
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      position: absolute;
      background-position: 50px 260px;
    }

    .ascor-header {
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &.show-version {
        justify-content: space-between;

        @include tablet {
          padding-left: 20px;
        }

        @include desktop {
          padding-left: calc((960px - 608px)/2);
        }

        @include widescreen {
          padding-left: calc((1152px - 608px)/2);
        }
      }

      &__assessment-dropdown {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;

        @include tablet {
          flex-direction: row;
          align-items: center;
        }
      }

      .button {
        background-color: $ascor-background-color;
      }

      .button:hover {
        background-color: $dark;
      }

      a {
        color: white;
        margin-right: 20px;
      }

      .links {
        padding-right: 20px;
      }

      @include until($desktop) {
        padding: 0 0.75rem;
        font-size: $size-7;
        height: 60px;
        font-family: $font-family-regular;
      }
    }
  }

  .bubble-chart-header {
    margin-bottom: 20px;

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__assessment-dropdown {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .bubble-chart-description {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.75;

    @include desktop {
      max-width: 60%;
    }
  }

  .emissions-chart-header {
    margin-bottom: 20px;

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__assessment-dropdown {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .emissions-chart-description {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.75;

    @include desktop {
      max-width: 60%;
    }
  }

  section {
    margin-top: 70px;

    > p {
      margin-top: 30px;
    }

    @include until($desktop) {
      margin-top: 40px;
      padding: 0 0.75rem;

      h4 {
        font-size: $size-5 !important;
      }

      > p {
        margin-top: 15px;
        font-size: $size-6;
        color: $grey-dark;
      }
    }
  }

  #methodology {
    display: flex;

    .pages__content {
      margin-bottom: 0;

      > div {
        margin-top: 30px;
      }

      @include until($desktop) {
        h4 {
          font-size: $size-5 !important;
        }

        > div {
          margin-top: 15px;
          font-size: $size-6;
          color: $grey-dark;
        }
      }
    }
  }

  .country-assessment {
    margin-top: 30px;
    margin-bottom: 30px;

    &__pillar {
      outline: solid 1px $grey-lighter-medium;
      margin-bottom: 1px;
      padding: 30px 0 0 40px;

      &.active {
        background-color: transparentize($grey-lighter-medium, 0.4);
      }

      &__title {
        color: $dark;
        font-family: $family-sans-serif;
        font-size: 24px !important;
        line-height: 1.7rem;
        font-weight: 400;
        text-transform: uppercase;
        margin: 5px 0 40px 0;
      }

      &__subtitle {
        color: $grey-dark;
        font-family: $family-sans-serif;
        font-size: 12px;
      }
    }

    &__area {
      outline: solid 1px $grey-lighter-medium;
      margin-left: 40px;
      padding: 15px 20px;
      position: relative;
      background-color: white;
      display: flex;

      &__title {
        font-family: $family-sans-serif;
        font-size: 20px !important;
        display: flex;
        align-items: center;
        gap: 25px;
      }
    }

    &__icon {
      &:before {
        content: '';
        display: block;

        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
      }

      &--no:before {
        background-image: image-url('tpi/ascor/oval.svg');
        background-color: #F26E6E;
        width: 38px;
        height: 38px;
      }

      &--yes:before {
        background-image: image-url('tpi/ascor/oval.svg');
        background-color: #17B091;
        width: 38px;
        height: 38px;
      }

      &--not-applicable:before {
        background-image: image-url('tpi/ascor/not_applicable.svg');
      }

      &--no-data:before {
        background-image: image-url('tpi/ascor/no_data.svg');
      }

      &--partial:before {
        background-image: image-url('tpi/ascor/partial.svg');
      }

      &--no-disclosure:before {
        background-image: image-url('tpi/ascor/no_disclosure.svg');
      }

      &--excempt:before {
        background-image: image-url('tpi/ascor/excempt.svg');
      }
    }

    input.toggle {
      display: none;
    }

    &__indicators {
      display: none;
    }

    &__indicator {
      margin-bottom: 1px;

      &__title {
        outline: solid 1px $grey-lighter-medium;
        font-family: $family-sans-serif;
        font-weight: 700;
        font-size: 16px;
        margin-left: 40px;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        gap: 25px;
      }
    }

    &__metric {
      margin-left: 80px;
      padding: 30px 45px 30px 45px;
      border-left: solid 3px $grey-lighter-medium;
      display: flex;
      position: relative;

      &__title {
        flex-grow:2
      }

      &__value {
        &__text {
          background: $dark;
          padding: 5px 0;
          color: $white;
          font-weight: 600;
          position: absolute;
          left: -45px;
          top: 25px;
          border: solid 3px $grey-lighter-medium;
          text-align: center;
          min-width: 80px;
          font-size: small;
        }
      }

      &__source {
        font-family: $family-sans-serif;
        font-size: 14px !important;

        a {
          color: $grey-dark;
          text-decoration: underline;
        }

        a:hover {
          color: $dark;
        }
      }
    }

    &__more {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
      height: 30px;
      width: $see-more-width;
      right: -1px;
      bottom: -1px;
      border: 1px solid #CFD7ED;
      user-select: none;

      @include tablet {
        width: $see-more-width-tablet;
      }

      &:before {
        color: $grey-dark;
        content: 'See more';
        display: block;
        font-size: 12px;
        margin-top: 3px;
      }

      &:after {
        content: '';
        display: block;

        background-image: image-url('icons/chevron-gray.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 16px;

        height: 16px;
        width: 16px;
      }
    }

    input.toggle:checked + .country-assessment__area-block {
      .country-assessment__indicators {
        display: block;
      }

      .country-assessment__more {
        &:before {
          content: 'See less';
        }

        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }
}