@import "../variables";

.banks-index-page {
  .dropdown-selector-wrapper {
    height: 335px;
    background-color: $blue;

    @include until($desktop) {
      height: auto;
    }
  }

  .banks-header {
    background: $blue;
    height: 100px;
    display: flex;
    align-items: center;

    a {
      color: white;
    }

    a + a {
      margin-left: 20px;
    }

    @include until($desktop) {
      padding: 0 0.75rem;
      font-size: $size-7;
      height: 60px;
      font-family: $font-family-regular;
    }
  }

  section {
    margin-top: 70px;

    > p {
      margin-top: 30px;
    }

    @include until($desktop) {
      margin-top: 40px;
      padding: 0 0.75rem;

      h4 {
        font-size: $size-5 !important;
      }

      > p {
        margin-top: 15px;
        font-size: $size-6;
        color: $grey-dark;
      }
    }
  }
}
