$line-height: 24px;
$max-lines: 3;
$dots-space: 1.3rem;
$indicator-padding: 100px;
$indicator-padding-desktop: 100px;
$indicator-padding-tablet: 60px;
$indicator-padding-mobile: 60px;

.bank-page {
  .change-view {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .bank-header {
    background: $blue;

    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__assessment-dropdown {
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;

      .base-tooltip__default-trigger {
        background: white;
        color: $blue;
      }
    }

    a {
      color: white;
    }

    a + a {
      margin-left: 20px;
    }

    @include until($desktop) {
      padding: 0 0.75rem;
      font-size: $size-7;
      height: 60px;
      font-family: $font-family-regular;
    }
  }

  .dropdown-selector-wrapper {
    background-color: $blue;

    .dropdown-selector__container {
      @include desktop {
        padding: $container-top-padding $container-side-padding 40px $container-side-padding;
      }
    }

    @include desktop {
      height: 335px;
    }
  }

  .summary-boxes {
    margin-top: 1.5rem;
  }

  .summary-box {
    background: $grey;
    padding: 40px;
    border-bottom: none;
    height: 100%;

    h3 {
      font-size: 16px;
      line-height: 20px;
    }

    small {
      font-size: 12px;
      color: $grey-dark;
    }

    @include until($desktop) {
      padding: 1.5rem 0.75rem;

      .mq-level {
        font-size: 1.5rem;
      }
    }

    @include until($desktop) {
      .columns {
        display: table;

        .column {
          display: inline-flex;
          width: 50%;
        }
      }
    }
  }

  .summary-box-link {
    color: unset;
    &:hover, &:visited {
      color: unset;
    }
  }

  .bank-assessment {
    margin-top: 30px;

    input.toggle {
      display: none;
    }

    &__area {
      margin-top: -1px;
      border: 1px solid transparent;
      border-bottom: 1px solid #CFD7ED;

      &:hover {
        background: #F5F8FE;
        border: 1px solid #CFD7ED;
      }
    }

    &__area-header {
      padding: 30px 20px;
      position: relative;

      @include tablet {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: space-between;
      }

      @include desktop {
        padding: 40px;
      }

      small {
        font-size: 12px !important;
      }

      h2 {
        margin-top: 5px;
        font-family: $font-family-regular;
        font-size: 24px !important;
        line-height: 1.7rem;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    &__area-value {
      position: relative;
      height: 32px;
      margin: 10px 0;
      background: #F5F8FE;
      border: 1px solid #CFD7ED;
      box-sizing: content-box;
      width: 100%;

      @include tablet {
        margin: 0;
        width: 500px;
      }

      &-progress {
        box-sizing: border-box;
        background: #5587F6;
        color: white;
        text-align: right;
      }

      &-value {
        height: 32px;
        line-height: 32px;
        padding-right: 10px;
        padding-left: 10px;
      }

      &-average, &-max {
        cursor: pointer;
        position: absolute;
        top: -4px;
        height: 32px + 8px;

        .bank-assessment__tooltip {
          display: none;
          top: -5px;
          position: absolute;
          background: black;
          padding: 10px;
          transform: translate(-50%, -100%);
          color: white;

          &-header {
            opacity: 0.9;
            text-transform: uppercase;
            font-size: 12px;
            white-space: nowrap;
          }

          &-text {

          }
        }

        &:hover {
          div {
            display: block;
          }
        }
      }

      &-average {
        width: 2px;
        background: #191919;
      }

      &-max {
        width: 3px;
        background: #00C170;
      }
    }

    &__more {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
      height: 30px;
      width: 100px;
      right: -1px;
      bottom: -1px;
      border: 1px solid #CFD7ED;
      user-select: none;

      @include tablet {
        width: 130px;
      }

      &:before {
        content: 'See more';
        display: block;
        font-size: 12px;
        margin-top: 3px;
      }

      &:after {
        content: '';
        display: block;

        background-image: image-url('icon_chevron_dark/chevron_down_black-1.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 16px;

        height: 16px;
        width: 16px;
      }
    }

    &__area-content {
      display: none;
      background: #F5F8FE;
      padding-top: 20px;

      @include tablet {
        padding-left: $indicator_padding_tablet;
      }

      @include desktop {
        padding-left: $indicator_padding_desktop;
      }
    }

    input.toggle:checked + .bank-assessment__area {
      background: #F5F8FE;
      border: 1px solid #CFD7ED;

      .bank-assessment__area-content {
        display: block;
      }

      .bank-assessment__area-header {
        .bank-assessment__more {
          &:before {
            content: 'See less';
          }

          &::after {
            transform: rotate(-180deg);
          }
        }
      }
    }

    &__sub-area {
    }

    &__sub-area-header {
      position: relative;

      padding: 25px 20px;
      background: white;
      border: 1px solid #CFD7ED;
      border-right: 0px;
      border-bottom: 0px;

      @include tablet {
        padding-left: $indicator_padding_tablet;
      }

      @include desktop {
        padding-left: $indicator_padding_desktop;
      }

      h3 {
        font-size: 20px !important;
      }
    }

    input.toggle:checked + .bank-assessment__sub-area {
      .bank-assessment__sub-area-content {
        display: block;
      }

      .bank-assessment__sub-area-header {
        .bank-assessment__more {
          &:before {
            content: 'See less';
          }

          &::after {
            transform: rotate(-180deg);
          }
        }
      }
    }

    &__sub-area-content {
      display: none;
    }

    input.toggle:checked ~ .bank-assessment__sub-area-content {
      display: block;
    }

    &__indicator {
    }

    &__indicator-header {
      padding: 25px 20px;
      background: #F5F8FE;
      border: 1px solid #CFD7ED;
      border-right: 0px;

      @include tablet {
        padding-left: $indicator_padding_tablet;
      }

      @include desktop {
        padding-left: $indicator_padding_desktop;
      }

      h4 {
        font-size: 16px !important;
      }
    }

    &__sub-indicators {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        left: $indicator_padding_mobile / 2 - 2px;
        height: 100%;
        background: #ECF1FE;
        width: 4px;

        @include tablet {
          left: $indicator_padding_tablet / 2 - 2px;
        }

        @include desktop {
          left: $indicator_padding_desktop / 2 - 2px;
        }
      }

      .bank-assessment__sub-indicator {
        &:first-of-type {
          padding-top: 30px;
        }

        &:last-of-type {
          padding-bottom: 30px;
        }
      }
    }

    &__sub-indicator {
      display: flex;

      .bank-assessment__sub-indicator-answer-wrapper {
        position: relative;
        width: $indicator_padding_mobile;
        flex-shrink: 0;

        @include tablet {
          width: $indicator_padding_tablet;
        }

        @include desktop {
          width: $indicator_padding_desktop;
        }
      }

      .bank-assessment__sub-indicator-answer {
        width: 36px;
        height: 36px;

        border-radius: 50%;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;

        display: block;
        position: absolute;
        left: calc(50% - 36px / 2);
        top: calc(50% - 36px / 2);

        &--no {
          background-image: image-url('icons/x.svg');
          background-color: #ED3D4A;
        }

        &--yes {
          @include mq-level-backgrounds;

          background-image: image-url('icons/check.svg');
          background-color: #5587F7;
        }

        &--not-applicable {
          background-image: image-url('icons/oval.svg');
          background-color: #C0C2C3;
          background-size: 8px;
        }
      }

      .bank-assessment__sub-indicator-answer-text {
        padding: 15px;
        padding-left: 0px;
      }
    }
  }

  section {
    @include until($desktop) {
      &.summary-boxes {
        > .columns {
          &:not(:last-child) {
            > .column {
              border-bottom: solid 1px rgba(89, 91, 93, 0.2);
            }
          }

          > .column {
            padding: 0;
          }
        }

        .columns {
          margin: 0;
        }
      }

      h4 {
        font-size: $size-5 !important;
      }

      > p {
        font-size: $size-6;
        color: $grey-dark;
      }
    }
  }
}
