.company-page {
  .change-view {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .companies-header {
    background: $blue;

    height: 100px;
    display: flex;
    align-items: center;

    a {
      color: white;
      line-height: 40px;
      margin-right: 10px;
    }

    @include until($desktop) {
      padding: 0 0.75rem;
      font-size: $size-7;
      height: 60px;
      font-family: $font-family-regular;
    }
  }

  .dropdown-selector-company-page-wrapper {
    background-color: $blue;

    @include desktop {
      height: 335px;
    }
  }

  .summary-boxes {
    margin-top: 1.5rem;
  }

  .summary-box {
    background: $grey;
    padding: 40px;
    border-bottom: none;
    height: 100%;

    h3 {
      font-size: 16px;
      line-height: 20px;
    }

    small {
      font-size: 12px;
      color: $grey-dark;
    }

    &--assessment {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    .cp-alignments {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 40px;

      h5 {
        font-size: 18px !important;
      }

      br {
        display: none;
      }

      @include from($tablet) {
        flex-direction: row;
        gap: 10px;

        br {
          display: unset;
        }
      }
    }

    .cp-alignment {
      font-family: $font-family-bold;
      font-size: 16px;
      padding: 30px 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: left;

      &__circle {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: block;
        margin-right: 10px;
        margin-top: -4px;
      }

      @include until($desktop) {
        display: flex;
        padding-top: 1rem;
        padding-bottom: 0;

        &__circle {
          margin-top: 0;
        }
      }
    }

    .mq-level {
      @include mq-level(80px);
    }

    @include until($desktop) {
      padding: 1.5rem 0.75rem;

      .mq-level {
        font-size: 1.5rem;
      }
    }

    @include until($desktop) {
      .columns {
        display: table;

        .column {
          display: inline-flex;
          width: 50%;
        }
      }
    }

    @include desktop {
      .columns {
        justify-content: space-evenly;
      }

      .column {
        flex-basis: unset;
        flex-grow: unset;
        flex-shrink: unset;
      }
    }
  }

  .summary-box-link {
    color: unset;
    &:hover, &:visited {
      color: unset;
    }
  }

  .management-quality {
    margin-top: 50px;
    margin-bottom: 50px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 40px;

      h4 {
        .base-tooltip__default-trigger {
          transform: translateY(-3px);
        }
      }

      .show-by-dropdown {
        align-items: center;
        display: flex;

        .show-by-dropdown-select {
          margin-top: 0;
          margin-left: 10px;
        }
      }
    }

    &__content {
      margin-top: 20px;

      @include until($desktop) {
        margin-top: 0;

        .columns,
        .column {
          margin: 0;
        }
      }
    }

    .column {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mq-assessment-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .mq-level {
        @include mq-level(160px, $size-2);
      }

      @include until($desktop) {
        margin-top: 20px;

        .level-description {
          color: $dark;
          font-family: $font-family-bold;
          padding: 0 30px;
        }

        .assessment-count {
          font-family: $font-family-bold;
        }
      }
    }

    $assesment-level-padding: 40px;

    .mq-assessment-questions {
      margin-top: 50px;

      .mq-assessment-level {
        padding: $assesment-level-padding;

        border-left: 2px solid $hawkes-blue;

        &.level5 {
          background-color: rgba($tpi-level5-background-color, 0.15);
        }

        &__header {
          font-size: 16px;
          font-weight: bold;
        }

        &:not(:last-child) {
          border-bottom: 2px solid $hawkes-blue;

          @include until($desktop) {
            border-bottom: 4px solid $hawkes-blue;
          }
        }

        .mq-assessment-question {
          margin: 30px 0;
          position: relative;

          &.highlight-question {
            .question-text {
              display: block;
              position: relative;
              background-color: rgba($tpi-level5-background-color, 0.15);
              // Use z-index to make sure the question is below the icon
              z-index: -1;

              // Use transform, padding and width to show the background on the full space of the question
              @include until($desktop) {
                width: calc(100% + #{$assesment-level-padding} + #{$assesment-level-padding});
                transform: translate(-27px, 0px);
                padding: 13px $assesment-level-padding 8px 27px;
              }

              width: calc(100% + #{$assesment-level-padding} + #{$assesment-level-padding});
              transform: translate(-$assesment-level-padding, -13px);
              padding: 13px $assesment-level-padding 8px $assesment-level-padding;
            }
          }

          .mq-assessment-answer {
            width: 36px;
            height: 36px;

            border-radius: 50%;

            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px;

            display: block;
            position: absolute;
            left: -60px;
            top: -10px;

            &--no {
              background-image: image-url('icons/x.svg');
              background-color: #ED3D4A;
            }

            &--yes {
              @include mq-level-backgrounds;

              &.level5 {
                background-color: $tpi-level4;
              }

              background-image: image-url('icons/check.svg');
            }

            &--not-applicable {
              background-image: image-url('icons/oval.svg');
              background-color: #C0C2C3;
              background-size: 8px;
            }

            &--no-data {
              background-image: image-url('icons/oval.svg');
              background-color: #C0C2C3;
              background-size: 8px;
            }

            @include until($desktop) {
              top: 0;
              left: -45px;
            }
          }
        }

        @include until($desktop) {
          border-left: 4px solid $hawkes-blue;
          padding: 25px;
          margin: 0 0 0 25px;
          line-height: 20px;

          .mq-assessment-question {
            margin: 22px 0;
          }
        }
      }
    }



    @include until($desktop) {
      padding: 0 0.75rem;

      &__header {
        margin-bottom: 15px;
        display: block;

        >p {
          display: block;
          margin-top: 15px;
          font-size: $size-6;
          color: $grey-dark;
        }

        .show-by-dropdown {
          display: block;
          color: $grey-dark;
          font-size: $size-5;
          margin-top:  20px;
          max-width: 280px;

          .show-by-dropdown-select {
            margin-left: 0;
            margin-top: 5px;
            font-size: $size-6;
            color: $dark;
          }
        }

      }

      .mq-assessment-questions {
        margin-top: 35px;
      }
    }
  }

  .assessment-date__container {
    .date-dropdown {
      margin-left: 10px;
      max-width: 280px;
    }

    @include until($desktop) {
      margin-top: 20px;

      .caption {
        color: $grey-dark;
      }

      .date-dropdown {
        margin-top: 10px;
        max-width: 200px;
        margin-left: 0;
      }
    }
  }

  .carbon-performance {
    margin-top: 50px;
    margin-bottom: 50px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 20px;

      h4 {
        .base-tooltip__default-trigger {
          transform: translateY(-3px);
        }
      }
    }

    &__assumptions {
      padding: 15px 30px;

      h6 {
        font-family: $font-family-bold;
        font-size: 14px;
      }

      p {
        font-size: 16px;
      }
    }

    @include until($desktop) {
      padding: 0 0.75rem;
    }
  }

  section {
    @include until($desktop) {
      &.summary-boxes {
        > .columns {
          &:not(:last-child) {
            > .column {
              border-bottom: solid 1px rgba(89, 91, 93, 0.2);
            }
          }

          > .column {
            padding: 0;
          }
        }

        .columns {
          margin: 0;
        }
      }

      h4 {
        font-size: $size-5 !important;
      }

      > p {
        font-size: $size-6;
        color: $grey-dark;
      }
    }
  }
}

.mq-assessment-answers-summary {
  display: flex;

  margin-top: 30px;

  &__level {
    display: flex;
    position: relative;
    padding: 10px 0;

    &:not(:last-child) {
      border-right: 1px solid black;
    }

    .level-title {
      position: absolute;
      left: 50%;
      top: -20px;
      transform: translateX(-50%);
      font-size: 12px;
    }

    .mq-answer {
      content: ' ';

      width: 10px;
      height: 10px;
      margin-left: 7px;

      &:last-child {
        margin-right: 7px;
      }

      &--no {
        background-color: #ED3D4A;
      }

      &--yes {
        @include mq-level-backgrounds;

        &.level5 {
          background-color: $tpi-level4;
        }
      }

      &--not-applicable {
        background-color: #C0C2C3;
      }

      &--no-data {
        background-color: #C0C2C3;
      }
    }
  }
}
