$home-background: image-url("tpi/home/hero-background.png");

.section-title {
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
  border-left: 8px solid $red;
  color: $dark-violet;
}

.section-description {
  margin-bottom: 1.25rem;
  margin-top: 3.125rem;
}

.tpi-home {
  &__hero {
    color: $white;
    position: relative;
    display: flex;
    overflow: hidden;

    &.is-primary {
      padding: 0;

      @include from($tablet) {
        min-height: 500px;
      }

      @include mobile {
        & > .container > .columns {
          z-index: 1;
          position: relative;
        }
      }

      .background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: $home-background;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 0;

        @include mobile {
          background-position: 30% center;
          // background-size: auto 500px;
        }
      }

      .left-size {
        @include mobile {
          margin: 26px 15px 43px;
        }

        @include from($tablet) {
          margin: 80px 0;
        }

        @include tablet {
          margin-left: 20px;
        }
      }

      .title {
        color: $red;
      }

      .description {
        display: flex;
        justify-content: center;
        line-height: $size-4;
        position: relative;

        @media #{$tablet-portrait} {
          justify-content: left;
          width: 100%;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 8px;
          height: 100%;
          background-color: $red;
          left: -32px;
        }
      }

      .button__container {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        @include from($tablet) {
          justify-content: left;
        }

        .button__hero {
          @extend .is-medium, .is-fullwidth;

          height: 3.125rem;
          width: 100%;

          @include from($tablet) {
            height: 5rem;
            width: 280px;
            max-width: 280px;
            margin: 0;
          }
        }
      }
    }
  }

  &__assessment-types {
    border-bottom: 1px solid rgba(89, 91, 93, 0.2);

    .section-description {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      margin-top: 3.125rem;

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include desktop {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .assessment-box {
      padding: 20px 30px;
      padding-bottom: 70px;
      position: relative;

      &__header {
        font-size: 18px;
      }

      &__title {
        margin-top: 30px;
        font-size: 40px;
        font-family: $font-family-bold;
        line-height: 48px;
        max-width: 270px;
      }

      &.publicly-listed-equities {
        color: $white;
        background-color: $dark-violet;
        background-image: image-url('tpi/home/office-building.svg');
        background-repeat: no-repeat;
        background-position: right -70px bottom 30px;
      }

      &.banks {
        background-color: $yellow-new;
        color: $dark-violet;
        background-image: image-url('tpi/home/bank.svg');
        background-repeat: no-repeat;
        background-position: right -70px bottom 30px;
      }

      &.corporate-bonds {
        background-color: $red;
        color: $white;
        background-image: image-url('tpi/home/bond.svg');
        background-repeat: no-repeat;
        background-position: right -70px bottom 30px;
      }

      &.sovereign-bonds {
        background-color: $medium-violet;
        color: $white;
        background-image: image-url('tpi/home/countries.svg');
        background-repeat: no-repeat;
        background-position: right -70px bottom 30px;
      }

      &.disabled {
        position: relative;

        &:before {
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          background: $black;
          opacity: 0.6;
          z-index: 1;
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: $white;
        background-image: image-url('tpi/icons/plus-darker.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 20px;
      }
    }
  }

  &__stats-news {
    border-bottom: 1px solid rgba(89, 91, 93, 0.2);

    .container {
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
      }
    }

    &__stats {
      @include mobile {
        padding-bottom: 50px;
      }

      @include tablet {
        padding-right: 80px;
        width: 50%;
      }

      h3 {
        color: $red;
      }

      .stat-boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 50px;
        padding: 30px 0px;

        @include tablet {
          gap: 30px 70px;
        }

        &--benchmarks {
          gap: 30px 40px;
          grid-template-columns: 1fr;

          @include tablet {
            grid-template-columns: 1fr 1fr;
          }
        }
      }

      .stat-box {
        text-align: right;
        color: $medium-violet;
        padding: 10px 0px;

        &__number {
          font-size: 48px;
          line-height: 1em;
          font-family: $font-family-bold;
        }

        &__title {
          font-size: 18px;
        }

        background-repeat: no-repeat;
        background-position: left center;

        &--supporters {
          background-image: image-url('tpi/home/support.svg');
        }

        &--combined-aum {
          background-image: image-url('tpi/home/money-bag.svg');
        }

        &--companies {
          background-image: image-url('tpi/home/companies.svg');
        }

        &--sectors {
          background-image: image-url('tpi/home/sectors.svg');
        }

        &--countries {
          background-image: image-url('tpi/home/location.svg');
        }

        &--market-cap {
          background-image: image-url('tpi/home/market-cap.svg');
        }
      }

      .stat-box-b {
        color: $medium-violet;
        padding: 10px 0px;
        display: grid;
        grid-template-columns: 80px 1fr;
        gap: 10px 15px;

        &__number {
          text-align: right;
          font-size: 48px;
          line-height: 1em;
          font-family: $font-family-bold;
        }

        &__title {
          font-size: 18px;
          line-height: 1.5rem;
          max-width: 300px;
        }

        &--benchmarks {
          @include tablet {
            grid-column: 1 / span 2;
          }
        }
      }
    }

    &__news {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background: $dark-violet;
        left: -$gap;
        width: 100vw;
        top: -50px;
        bottom: -50px;
        z-index: -1;
      }

      @include tablet {
        padding-left: 80px;
        width: 50%;

        &:before {
          left: 0;
          width: 50vw;
        }
      }

      h2 {
        color: $white;
      }

      h3 {
        padding-left: 10px;
        margin-bottom: 20px;
        border-left: 4px solid $red;
        font-size: 18px !important;
        color: $white;
      }

      .news-more {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;

        @include tablet {
          justify-content: space-between;
          flex-direction: row;
        }

        &__learn-more {
          > div {
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
              color: $white;

              &:hover {
                text-decoration: underline;
              }
            }

            .with-icon {
              display: inline-flex;
              gap: 10px;
              align-items: center;
            }

            .icon {
              width: 2rem;
              height: 2rem;
              background: $white;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 50%;
            }

            .icon__news {
              background-image: image-url('tpi/home/news.svg');
            }

            .icon__events {
              background-image: image-url('tpi/home/events.svg');
            }
          }
        }

        &__social-media {
          .icon__twitter {
            width: 2rem;
            height: 2rem;
            background-image: image-url('icon_twitter/twitter_white.svg');
            background-repeat: no-repeat;
          }

          .icon__linkedin {
            width: 2rem;
            height: 2rem;
            background-image: image-url('icon_linkedin/icon_linkedin_white.svg');
            background-repeat: no-repeat;
          }
        }

        > div {
          > div {
            padding: 10px;
          }
        }
      }
    }
  }

  &__case-studies-supporters {
    border-bottom: 1px solid rgba(89, 91, 93, 0.2);

    .section-description {
      margin-top: 20px;
    }

    ul {
      list-style: inside;

      li {
        font-size: 24px;

        a {
          margin-left: -15px;
          font-size: 16px;
          color: $black;
        }
      }
    }

    .slider-container {
      .tns-outer {
        position: relative;
      }

      .tns-controls {
        button {
          margin: auto 0;
          position: absolute;
          top: 0;
          bottom: 0;
          border: none;
          border-radius: 50%;
          height: 48px;
          width: 48px;
          background-color: $red;
          z-index: 1;
          color: $white;

          &:focus{
            outline: none;
          }

          &[disabled] {
            display: none;
          }

          &[data-controls=next] {
            right: -25px;
          }

          &[data-controls=prev] {
            left: -25px;
          }
        }
      }

      .case-studies-container {
        .case-study {
          height: 280px;
          border: 1px solid $medium-violet;
          padding-top: 90px;
          padding-bottom: 60px;
          padding-left: 40px;
          padding-right: 40px;;

          position: relative;

          img {
            position: absolute;
            left: 20px;
            top: 20px;
          }

          &__title {
            color: $red;
            font-size: 18px;
          }

          &__text {
            // height: 3.4rem;
            font-size: 14px;
            // text-overflow: ellipsis;
            // -webkit-line-clamp: 3;
            // -webkit-box-orient: vertical;
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: $white;
            background-image: image-url('tpi/icons/plus-darker.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 13px;
            border-radius: 50%;
            border: 2px solid $dark-violet;
            width: 33px;
            height: 33px;
            right: 20px;
            bottom: 20px;
          }
        }
      }

    }
  }

  &__latest-research {
    border-bottom: 1px solid rgba(89, 91, 93, 0.2);

    .section-description {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include desktop {
        grid-template-columns: repeat(4, 1fr);
      }

      .research-box {
        padding: 15px;
        display: block;
        color: $white;
        font-size: 12px;
        background: $dark-violet;

        > img {
          width: 100%;
        }

        &__title {
          img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }

          display: flex;
          gap: 15px;
          margin-top: 10px;
        }

        &--yellow {
          color: $dark;
          background: $yellow-new;
        }
      }
    }
  }

  &__funders {
    .section-description {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__newsletter {
    display: flex;
    align-items: center;
    height: 400px;
    min-height: 400px;
    background: linear-gradient(180deg, $white 0%, $light-grey 100%);

    .subscribe__logo {
      display: flex;
      justify-content: flex-end;

      & > img {
        max-width: 250px;
        max-height: 250px;
      }
    }

    .subscribe__container {
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include until($desktop) {
        .subscribe-title {
          align-items: center;
          color: $dark;
          display: flex;
          font-family: $family-sans-serif-bold;
          font-size: 20px;
          justify-content: space-between;
          width: 100%;

          margin-bottom: 20px;

          img {
            height: 82px;
            width: 82px;
          }
        }
      }
    }

    .subscribe__button {
      width: 150px;
    }

    h4, h2,
    .content {
      padding-bottom: $size-4;
    }

    a {
      color: $white;
    }

    @include until($desktop) {
      .subscribe__button {
        font-size: $size-5;
      }

      .content {
        padding-bottom: 0;
      }
    }
  }
}

.separator {
  opacity: 0.5;

  @include from($tablet) {
    width: 1px;
    height: 100%;
    border-left: 1px solid $white;
  }

  @include mobile {
    width: 85%;
    height: 2px;
    border-top: 1px solid $white;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
