.section-title {
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
  border-left: 8px solid $blue-ribbon;
  color: $dark;
}

.section-description {
  margin-top: 3.125rem;

  @include tablet {
    margin-bottom: 1.25rem;
  }
}

.tpi-home {
  &__hero {
    color: $white;
    position: relative;
    overflow: hidden;

    @include from($tablet) {
      min-height: 500px;
    }

    .background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: image-url("tpi/home/hero-background-small.jpg");
      background-repeat: no-repeat;
      background-position: 15% center;
      background-size: cover;
      z-index: 0;

      @include tablet {
        background-position: center;
        background-image: image-url("tpi/home/hero-background-middle.jpg");
      }

      @media (min-width: 2000px) {
        background-image: image-url("tpi/home/hero-background.jpg");
      }
    }

    &__title {
      display: flex;
      justify-content: space-around;
      flex-direction: row;

      @include mobile {
        flex-direction: column;
        align-items: center;
      }

      &__description {
        max-width: 10rem;
        text-align: center;
        margin: 30px auto;
        border: 1px solid #ffffffa1;
        padding: 10px;
      }
    }

    .button__hero {
      @extend .is-medium;

      height: 3.125rem;
      margin-top: 30px;

      @include mobile {
        font-size: 1rem;
      }

      @include from($tablet) {
        height: 5rem !important;
        width: 280px;
        max-width: 280px;
        margin-top: 50px;
      }
    }
  }

  &__assessment-types {
    border-bottom: 1px solid rgba(89, 91, 93, 0.2);

    .section-description {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      margin-top: 3.125rem;

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include desktop {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .assessment-box {
      position: relative;
      color: $white;
      background-color: $blue-darker;
      text-align: center;

      &__header {
        font-size: 18px;
      }

      &__title {
        margin-top: 30px;
        font-size: 30px;
        font-family: $font-family-bold;
        height: 100px;
        line-height: 70px;

        br {
          display: none;
        }

        @include from($tablet) {
          height: 200px;
          line-height: 170px;

          br {
            display: block;
          }

          span {
            display: inline-block;
            vertical-align: middle;
            line-height: 40px;
          }
        }
      }

      &__sectors {
        margin: 10px 0;
      }
    }
  }

  &__stats-news {
    border-bottom: 1px solid rgba(89, 91, 93, 0.2);

    h3 {
      font-size: 1.125rem !important;
    }

    .at-glance-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;

      @include from($desktop) {
        flex-direction: row;
      }

      &__first {
        order: -1;
      }
    }

    .at-glance-note {
      font-size: $size-8;
      margin-top: 1rem;
    }

    .at-glance-container:before {
      content: "";
      border: 1px $blue-ribbon solid;
      align-self: stretch;
    }

    &__stats {
      h3 {
        color: $grey-dark;
      }

      .stat-boxes {
        display: grid;
        gap: 30px;
        padding: 30px 0px;

        @include mobile {
          grid-template-columns: 1fr;
        }

        @include from($tablet) {
          grid-template-columns: 1fr 1fr;
        }

        @include desktop {
          gap: 30px 25px;
        }

        @include widescreen {
          gap: 30px 70px;
        }

        .stat-box {
          display: flex;
          flex-direction: row;
          gap: 30px;

          &__icon {
            width: 70px;
            height: 70px;

            img {
              width: 70px;
              height: auto;
            }
          }

          &__content {
            min-width: 120px;
          }

          &__number {
            font-size: 1.25rem;
            line-height: 1em;
            font-family: $font-family-bold;

            @include tablet {
              font-size: 1.25rem;
            }
          }

          &__title {
              font-size: 0.875rem;

              @include tablet {
              font-size: 1.125rem;
              }
          }
        }
      }
    }
  }

  &__case-studies-supporters {
    .subtitle {
      color: $blue-ribbon;
    }

    ul {
      list-style: none;

      li:before {
        content: "\f00c"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  &__latest-research {
    border-bottom: 1px solid rgba(89, 91, 93, 0.2);

    .section-description {
      .tns-item {
        padding-right: 0 !important;
        border-right: 2px solid $blue-ribbon;
        height: 300px
      }

      .research-box {
        padding: 15px;

        @include mobile {
          padding: 20px;
        }

        height: 100%;

        display: block;
        color: $blue-ribbon;
        font-size: 15px;
        background: $white;

        > img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        &__title {
          img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }

          display: flex;
          gap: 15px;
          margin-top: 10px;
        }

        &__author {
          color: $blue-ribbon;
          font-family: $font-family-bold;
        }
      }
    }
  }

  &__funders {
    .section-description {
      .subtitle {
        font-family: $font-family-bold;
      }

      .images {
        display: flex;
        gap: 20px;
        margin: 10px 0;

        @include mobile {
          flex-direction: column;
        }

        img {
          max-height: 70px;

          @include mobile {
            max-height: 100%;
            max-width: 150px;
            margin: auto;
          }
        }
      }

      .info {
        font-family: $font-family-bold;

        a {
          text-decoration: underline;
        }
      }
    }
  }

  &__newsletter {
    display: flex;
    align-items: center;
    height: 400px;
    min-height: 400px;
    background: linear-gradient(180deg, $white 0%, $grey-light 100%);

    .subscribe__logo {
      display: flex;
      justify-content: flex-end;

      & > img {
        max-width: 250px;
        max-height: 250px;
      }
    }

    .subscribe__container {
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include until($desktop) {
        .subscribe-title {
          align-items: center;
          color: $dark;
          display: flex;
          font-family: $font-family-bold;
          font-size: 20px;
          justify-content: space-between;
          width: 100%;

          margin-bottom: 20px;

          img {
            height: 82px;
            width: 82px;
          }
        }
      }
    }

    .subscribe__button {
      width: 150px;
    }

    h4, h2,
    .content {
      padding-bottom: $size-4;
    }

    .content {
      text-align: justify;
      text-justify: inter-word;
    }

    a {
      color: $white;
    }

    @include until($desktop) {
      .subscribe__button {
        font-size: $size-5;
      }

      .content {
        padding-bottom: 0;
      }
    }
  }
}

.separator {
  opacity: 0.5;

  @include from($tablet) {
    width: 1px;
    height: 100%;
    border-left: 1px solid $white;
  }

  @include mobile {
    width: 85%;
    height: 2px;
    border-top: 1px solid $white;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.linkedin-widget {
  height: 600px !important;
  overflow: auto !important;

  .sk-linkedin-page-post-profile-info {
    width: 100% !important;
    padding: 0 5px;
  }
}
