.sectors-index-page {
  .sectors-header {
    background: $blue;

    height: 100px;
    display: flex;
    align-items: center;

    a {
      color: white;
    }

    a + a {
      margin-left: 20px;
    }
  }

  section {
    margin-top: 70px;

    > p {
      margin-top: 30px;
    }
  }
}
