@import "../variables";

$tape-color: rgba(25,25,25,0.1);

.sector-page {
  .dropdown-selector-sector-page-wrapper {
    height: 335px;
    background-color: $blue;

    @include until($desktop) {
      height: auto;
    }
  }

  .sectors-header {
    background: $blue;

    height: 100px;
    display: flex;
    align-items: center;

    a {
      color: white;
      line-height: 40px;
      margin-right: 10px;
    }

    @include until($desktop) {
      padding: 0 0.75rem;
      font-size: $size-7;
      height: 60px;
      font-family: $font-family-regular;
    }
  }

  section {
    margin-top: 70px;

    > p {
      margin-top: 30px;
    }

    @include until($desktop) {
      margin-top: 40px;
      padding: 0 0.75rem;

      h4 {
        font-size: $size-5 !important;
      }

      > p {
        margin-top: 15px;
        font-size: $size-6;
        color: $grey-dark;
      }
    }
  }

  .sector-level-overview {
    margin-top: 50px;

    .sector-level {
      display: flex;
      flex-direction: column;

      padding-bottom: 0;

      &:not(:last-child) {
        border-right: 5px dotted $tape-color;
      }

      &__title {
        height: 40px;
        margin-bottom: 50px;
      }

      &__companies {
        flex: 1;

        padding: 12px 24px;
        color: white;

        a {
          color: white;
        }

        li {
          display: flex;
          padding: 5px 0;
        }

        .mq-level-trend {
          @include mq-level-trend(20px);

          margin-left: 5px;
        }

        @include mq-level-backgrounds;

        &.level0 {
          margin-top: 120px;
        }

        &.level1 {
          margin-top: 90px;
        }

        &.level2 {
          margin-top: 60px;
        }

        &.level3 {
          margin-top: 30px;
        }
      }
    }
  }

  .cp-performance-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    >p {
      display: none;
    }

    @include until($desktop) {
      display: block;

      >p {
        display: block;
        margin-top: 15px;
        font-size: $size-6;
        color: $grey-dark;
      }

      .show-by-dropdown {
        display: block;
        color: $grey-dark;
        font-size: $size-5;
        margin-top:  20px;
        max-width: 280px;

        #show-by-dropdown-placeholder {
          margin-left: 0;
          margin-top: 10px;
          font-size: $size-6;
          color: $dark;
        }
      }
    }
  }

  .show-by-dropdown {
    display: flex;
    align-items: center;

    #show-by-dropdown-placeholder {
      margin-left: 10px;
    }
  }
}
