@import "../variables";

.sectors-index-page {
  .sectors-header {
    background: $blue;
    min-height: 100px;
    display: flex;
    align-items: center;

    a {
      color: white;
      line-height: 40px;
      margin-right: 10px;

      &.no-margin {
        margin-right: 0;
      }

    }

    @include until($desktop) {
      padding: 0 0.75rem;
      font-size: $size-7;
      min-height: 60px;
      font-family: $font-family-regular;
    }
  }

  section {
    margin-top: 70px;

    @include until($desktop) {
      margin-top: 40px;
      padding: 0 0.75rem;
    }
  }

  section {
    > p {
      margin-top: 30px;
    }

    @include until($desktop) {
      h4 {
        font-size: $size-5 !important;
      }

      > p {
        margin-top: 15px;
        font-size: $size-6;
        color: $grey-dark;
      }
    }
  }

  #methodology {
    display: flex;

    .pages__content {
      margin-bottom: 0;

      > div {
        margin-top: 30px;
      }

      @include until($desktop) {
        h4 {
          font-size: $size-5 !important;
        }

        > div {
          margin-top: 15px;
          font-size: $size-6;
          color: $grey-dark;
        }
      }
    }
  }
}
