@import "../variables";

$tape-color: rgba(25, 25, 25, 0.1);

.sector-page {
  .dropdown-selector-sector-page-wrapper {
    height: 335px;
    background-color: $blue;

    @include until($desktop) {
      height: auto;
    }
  }

  .sectors-header {
    background: $blue;

    height: 100px;
    display: flex;
    align-items: center;

    a {
      color: white;
      line-height: 40px;
      margin-right: 10px;
      @include until($desktop) {
        margin-right: 0;
      }
    }

    @include until($desktop) {
      padding-inline: 0 !important;
      font-size: $size-7;
      height: auto;
      padding-top: 40px;
      font-family: $font-family-regular;
      
    }
  }

  section {
    margin-top: 70px;

    > p {
      margin-top: 30px;
    }

    @include until($desktop) {
      margin-top: 40px;
      padding: 0 0.75rem;

      h4 {
        font-size: $size-5 !important;
      }

      > p {
        margin-top: 15px;
        font-size: $size-6;
        color: $grey-dark;
      }
    }
  }

  .sector-level-overview {
    margin-top: 50px;

    .sector-level {
      &.column {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 0;
      }

      &:not(:last-child) {
        border-right: 2px dashed $tape-color;
      }

      &__title {
        position: relative;
        margin-bottom: 20px;
        h5 {
          font-size: 16px;
          line-height: 20px;
          font-weight: 700;
          margin-bottom: 6px;
        }
        p {
          font-size: 12px;
          line-height: 18px;
          color: $grey-dark;
        }
      }

      &__companies {
        line-height: 1.25;
        color: white;
        display: flex;
        align-items: end;
        
        > div:first-child {
          width: 100%;
          text-align: center;
          padding-top: 20px;
          font-size: 32px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            border: 2px solid $yellow;
          }
        }



        .mq-level-trend {
          @include mq-level-trend(20px);
          background-color: rgba(0, 0, 0, 0.4);

          &__container {
            vertical-align: bottom;
          }
        }

        @include mq-level-backgrounds;

        &.level0 {
          margin-top: 150px;
        }

        &.level1 {
          margin-top: 120px;
        }

        &.level2 {
          margin-top: 90px;
        }

        &.level3 {
          margin-top: 60px;
        }

        &.level4 {
          margin-top: 30px;
        }
      }
    }
  }

  .cp-performance-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: 50px;

    > p {
      display: none;
    }

    @include until($desktop) {
      display: block;

      > p {
        display: block;
        margin-top: 15px;
        font-size: $size-6;
        color: $grey-dark;
      }

      .show-by-dropdown {
        display: block;
        color: $grey-dark;
        font-size: $size-5;
        margin-top: 20px;
        max-width: 280px;

        #show-by-dropdown-placeholder {
          margin-left: 0;
          margin-top: 10px;
          font-size: $size-6;
          color: $dark;
        }
      }
    }
  }

  .show-by-dropdown {
    display: flex;
    align-items: center;

    #show-by-dropdown-placeholder {
      margin-left: 10px;
    }
  }
}

.sector-level__popover {
  z-index: 10;
  background-color: $white;
  border: 1.25px solid $black;
  padding: 20px;
  font-size: 14px;
  width: 430px;
  max-width: 430px;
  min-width: 400px;
  color: black;

  h4 {
    color: $blue-dark;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 400;
  }
  p {
    font-size: 12px;
    line-height: 18px;
    color: $grey-dark;
  }
  &_header {
    font-size: 20px !important;
    line-height: 24px;
    font-weight: 700;
    margin-block: 8px 20px;
  }
  &_text {
    columns: 2;
    margin-block: 12px;
    font-size: 16px;
    max-height: 200px;
    overflow-y: auto;
    column-gap: 40px;
  }
  &_list_item {
    margin-left: 20px;
    a {
      text-decoration: underline;
      color: black;
    }
  }
  .button.is-secondary.is-small {
    float: right;
    margin-top: 20px;
    height: 40px !important;
    width: 62px !important;
    min-width: auto;
  }
}
