@import "../variables";

.sectors-index-page {
  .sectors-header {
    background: $blue;
    min-height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    transform: translateY(-1px);

    a {
      color: white;
      line-height: 40px;
      margin-right: 10px;

      &.no-margin {
        margin-right: 0;
      }

      &.weight-normal {
        font-family: $font-family-regular;
      }
    }

    @include until($desktop) {
      padding: 0;
      font-size: $size-7;
      height: auto;
      font-family: $font-family-regular;
      min-height: 76px;
    }
  }

  section {
    margin-top: 70px;

    @include until($desktop) {
      margin-top: 0px;
      padding: 0 0.75rem;
    }
  }

  section {
    > p {
      margin-top: 30px;
    }

    h3.title-blue {
      color: $blue;
      font-weight: bold;
      line-height: 40px;
      margin-bottom: 40px;
      font-size: 28px !important;
    }

    h4.title-darker-blue {
      color: $grey-dark;
      font-weight: bold;
      line-height: 40px;
      margin-bottom: 60px;
      font-size: 15px !important;

    }

    @include until($desktop) {
      h3.title-blue {
        font-size: $size-4 !important;
        line-height: 28px;
        margin-bottom: 80px;
      }

      h4 {
        font-size: $size-5 !important;
      }

      > p {
        margin-top: 15px;
        font-size: $size-6;
        color: $grey-dark;
      }
    }
  }

  #methodology {
    display: flex;

    .pages__content {
      margin-bottom: 0;

      > div {
        margin-top: 30px;
      }

      @include until($desktop) {
        h4 {
          font-size: $size-5 !important;
        }

        > div {
          margin-top: 15px;
          font-size: $size-6;
          color: $grey-dark;
        }
      }
    }
  }
}
