@import 'admin/settings';
@import 'admin/mixins';
@import 'trix/dist/trix';
@import 'activeadmin_addons/all';
@import "active_admin/mixins";
@import 'activeadmin_addons/material';

.hidden {
  display: none;
}

.button {
  margin: 0;

  &--raised {
    @include am-btn-raised;
  }

  &--red {
    background-color: $admin-red;

    &:hover {
      background-color: lighten($admin-red, 20%);
    }
  }
}

.table_tools {
  .scope {
    margin: 0;
    padding: 10px;

    &.selected {
      background: $am-theme-primary;

      a {
        color: white;
      }
    }
  }
}

.panel {
  > h3 {
    font-size: 18px;
    padding: 20px 16px;
    color: black;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
  }
}

.padding-20 {
  padding: $padding;
}

.max-width-300 {
  max-width: 300px;
}

fieldset.actions .cancel a {
  &:hover {
    color: white;
  }
}

.columns {
  .column {
    float: left;
  }
}

#search_status_sidebar_section {
  .panel_contents {
    padding: 16px;
  }
}

// Fix navbar
#utility_nav {
  #current_user, #logout {
    width: auto;
  }
}

// Status
$draft-color: #9fc881;
$pending-color: #ffb434;
$published-color: #4ba532;
$archived-color: #c4c0c0;
$unset-color: #979494;

.status_tag {
  &.draft { background: $draft-color; }
  &.pending { background: $pending-color; }
  &.published { background: $published-color; }
  &.archived { background: $archived-color; }
  &.unset { background: $unset-color; }
}

// Tables

table.cell-padding-sm {
  td, th {
    padding: 5px;
  }
}

table.cell-centered {
  td, th {
    text-align: center;
  }
}

// Forms

form {
  ul.errors {
    padding: $padding;
    margin: 0;
    margin-left: 20px;
    list-style: disc;
    color: $am-theme-error;
  }

  fieldset.inputs {
    > legend {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

// Comments

.comments {
  >.panel_contents {
    padding: $padding;
  }

  div.active_admin_comment {
    @include am-paper;

    padding: $padding/2;
    margin-bottom: 15px;
  }

  form {
    .inputs {
      margin-bottom: 0;

      .input {
        padding: 0;
      }
    }

    .actions {
      padding: 0;
      box-shadow: none;
    }
  }
}

.nested-list {
  &__actions {
    padding: 16px;
  }
}

.inline-fields {
  display: flex;
  align-items: center;

  li {
    margin: 0;

    &.input:not(.error) {
      input, .select2, select {
        margin-bottom: 20px;
      }
    }
  }

  .flex-grow-1 {
    flex-grow: 1;
  }
}

// Resource specific styles

form.litigation {
  min-width: 600px;
}

.litigation-sides-fields {
  li[id*=side_type] {
    min-width: 150px;
  }

  li[id*=party_type] {
    min-width: 250px;
  }

  li[id*=connected_with] {
    min-width: 300px;
  }

  li[id*=_name] {
    flex-grow: 1;
  }

  @include desktop-large {
    width: 70%;
  }
}

.event-fields {
  .select2 {
    width: 100% !important;
  }

  li[id*=date] {
    width: 160px;
  }

  li[id*=event_type] {
    width: 200px;
  }

  li[id*=_description] {
    flex-grow: 1;

    textarea {
      resize: vertical;
    }
  }

  li[id*=_title], li[id*=_url] {
    flex-grow: 1;
  }
}
