@import "cclow/colors.scss";
@import "cclow/layout.scss";
@import "cclow/typography";

a {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &.active {
    font-weight: bold;
  }
}

@import "bulma/sass/utilities/all";
@import "bulma/sass/base/all";
@import "bulma/sass/elements/all";
@import "bulma/sass/components/all";
@import "bulma/sass/grid/all";
@import "bulma/sass/layout/all";
@import "bulma/sass/form/all";

