@import "font-awesome";

@import "tpi/colors";
@import "tpi/variables";
@import "tpi/mixins";
@import "tpi/sizes";
@import "tpi/typography";
@import "tpi/inputs";
@import "common/youtube";

@import "bulma/sass/utilities/all";
@import "bulma/sass/base/all";
@import "bulma/sass/elements/all";
// @import "bulma/sass/form/all";
@import "bulma/sass/components/all";
@import "bulma/sass/grid/all";
@import "bulma/sass/layout/all";

@import "tpi/buttons";
@import "tpi/forms";
@import "tpi/tags";

@import "tpi/banner";
@import "tpi/navbar";
@import "tpi/hero";
@import "tpi/publications";
@import "tpi/testimonials";
@import "tpi/bubble-chart";
@import "tpi/charts";
@import "tpi/base-tooltip";
@import "tpi/filters";
@import "tpi/footer";
@import "tpi/dropdown-selector";
@import "tpi/newsletter";
@import "tpi/pages";
@import "tpi/search";
@import "tpi/fixed-navbar";
@import "tpi/nested-dropdown";
@import "tpi/banking-question-legend";
@import "tpi/latest-information";

@import "tpi/pages/*";
@import "tpi/shared/*";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $family-sans-serif;

  @include desktop {
    overflow-x: visible;
  }
}

:root {
  --fixed-navbar-height: 56px;
}

.columns {
  margin-left: -0.75rem;
  margin-right: 0;
  margin-top: -0.75rem;

  @include desktop {
    margin-right: -0.75rem;
  }
}
