<div class="cookies-tooltip" data-controller='cookies-consent'>
  <div>
    <span>Climate Change Laws of the World uses cookies to make the site simpler.</span>
    <a href="https://www.lse.ac.uk/lse-information/cookies" target="_blank">Find out more about cookies >></a>
  </div>
  <div class="container">
    <div class="close-btn" data-action="click->cookies-consent#close">
      <div class="icon__close"></div>
    </div>
  </div>
</div>
