<footer class="footer">
  <div class="container">
    <h5 class="title">Climate Change Laws of the World</h5>
    <div class="columns footer-content">
      <div class="column is-one-quarter">
        <div class="section-name">Navigation</div>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Methodology</a></li>
          <li><a href="#">Publications</a></li>
          <li><a href="#">Invitation to contribute</a></li>
          <li><a href="#">Privacy and data protection</a></li>
          <li><a href="#">Terms of use</a></li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <div class="section-name">Grantham Research Institute</div>
        <ul>
          <li><a href="#">Publications</a></li>
          <li><a href="#">News and commentaries</a></li>
          <li><a href="#">Research topics</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">People</a></li>
          <li><a href="#">Mailing list</a></li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <div class="section-name">Contact</div>
        <ul>
          <li>Email: <a href="#">gri.cclw@lse.ac.uk</a></li>
          <li>Tel: +44 (0)20 7107 5027</li>
          <li><a href="#">Full address information</a></li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <div class="section-name">Follow us</div>
        <ul class="social-links">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-chart">
    <div class="container">
      <div class="copyright">Copyright © LSE 2019</div>
    </div>
  </div>
</footer>
