<header class="header">
  <div class="navbar">
    <div class="container">
      <div class="navbar-brand"></div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field">
              <div class="menu">
                <a href="#about">About</a>
                <a href="#methodology">Methodology</a>
                <a href="#invitation">Invitation to contribute</a>
              </div>
              <div class="title">
                Climate Change Laws of the World
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field search-field">
        <p class="control has-icons-left has-icons-right">
          # <input class="input" placeholder="Search for countries, legislation and policies and litigation cases">
          <%= react_component("LawsDropdown", {}) %>
          <span class="icon is-right">
            <i class="fa fa-1x fa-search"></i>
          </span>
        </p>
      </div>
    </div>
  </div>
</header>
