<header class="header">
  <div class="search-wrapper">
    <%= react_component("LawsDropdown", { geographies: @search_geographies, lawsAndPolicies: @search_laws_and_policies, litigations: @search_litigations, targets: @search_targets, recentDate: @search_recent_date }) %>
  </div>
  <div class="navbar">
    <div class="container">
      <div class="navbar-brand">
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field">
              <div class="menu">
                <a href="#about">About</a>
                <a href="#methodology">Methodology</a>
                <a href="#invitation">Invitation to contribute</a>
              </div>
              <div class="title">
                Climate Change Laws of the World
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
