<header class="header">
  <div class="navbar">
    <div class="navbar-brand">Brand</div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <div class="menu">
              <a href="#about">About</a>
              <a href="#methodology">Methodology</a>
              <a href="#invitation">Invitation to contribute</a>
            </div>
            <div class="title">
              Climate Change Laws of the World
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
