<div class="publications-banner">
  <div class="columns">
    <div class="column is-half">
      <div class="captions-block is-hidden-touch">
        <div><a target="_blank" href="<%= link %>">Read related publications</a></div>
        <div>from the Grantham Research Institute</div>
      </div>
      <div class="captions-block is-hidden-desktop">
        <div><a target="_blank" href="<%= link %>">Read publications</a></div>
        <div>from the Grantham Research Institute</div>
      </div>
    </div>
    <div class="column is-half img-container">
      <img src="<%= asset_path 'cclow/publications_banner.png' %>" alt="">
    </div>
  </div>
</div>
