<li>
  <h5 class="title"><%= litigation.link %></h5>
  <p class="meta">
    <% if litigation.started_event %>
      <span>Opened in <%= litigation.started_event.date&.year %></span>
    <% end %>
    <% if litigation.last_non_starting_event %>
      Last development in <%= litigation.last_non_starting_event&.date&.strftime('%B, %Y') %>
    <% end %>
  </p>
  <div class="description">
    <%= litigation.summary&.html_safe %>
  </div>
</li>
