<li>
  <h5 class="title"><%= title %></h5>
  <p class="meta">
    <% if event_type.present? %>
      <span><%= event_type&.humanize %></span>
    <% end %>
    <% if date_passed.present? %>
      <span>Opened in <%= date_passed&.year %></span>
    <% end %>
  </p>
  <div class="description">
    <%= description&.html_safe %>
  </div>
</li>
