<h1>Litigation cases</h1>

<div class="list">
  <% @litigations.each do |l| %>
    <%= render 'list_item',
                 title: link_to(l.title, cclow_geography_litigation_case_path(l.geography, l)),
                 description: l.summary
    %>
  <% end %>
</div>
