<div>
  <div class="container">
    <h3>Litigation cases</h3>
    <ul class="content-list">
      <% @litigations.each do |l| %>
        <%= render 'list_item',
                     title: link_to(l.title, cclow_geography_litigation_case_path(l.jurisdiction, l)),
                     description: l.summary
        %>
      <% end %>
    </ul>
  </div>
</div>
