<div class="banner is-hidden-mobile">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        pic
        <img src="" class="banner--logo">
      </div>
      <div class="column">
        <div class="columns">
          <div class="column">
            pic
            <img src="" alt="" class="banner--partner">
          </div>
          <div class="column">
            pic
            <img src="" alt="" class="banner--partner">
          </div>
          <div class="column">
            pic
            <img src="" alt="" class="banner--partner">
          </div>
          <div class="column">
            pic
            <img src="" alt="" class="banner--partner">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>