<div class="banner is-hidden-mobile">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <img src="<%= asset_path 'logo/TPI_logo@2x.png' %>" class="banner--logo">
      </div>
      <div class="column is-3"></div>
      <div class="column">
        <div class="columns">
          <div class="column">
            pic
            <img src="" alt="" class="banner--partner">
          </div>
          <div class="column">
            pic
            <img src="" alt="" class="banner--partner">
          </div>
          <div class="column">
            pic
            <img src="" alt="" class="banner--partner">
          </div>
          <div class="column">
            pic
            <img src="" alt="" class="banner--partner">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>