<% unless action_name == "newsletter" %>
  <section class="footer__subscribe">
    <div class="container">
      <div class="columns">
        <div class="column is-5 subscribe__logo">
          <img src="<%= asset_path 'newsletter_background/newsletter img@2x.png' %>" alt="tpi newsletter logo">
        </div>

        <div class="column is-5 subscribe__container">
          <h4>Subscribe to the TPI newsletter</h4>

          <p class="content">
            Receive updates on the TPI, including on latest developments and research findings, by signing-up to our newsletter.
          </p>

          <%= link_to 'Subscribe', tpi_newsletter_path, class: 'button is-primary subscribe__button' %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<section class="footer__information">
  <div class="container">
    <div class="columns footer__contact">
      <div class="column">
        <h4>Contact</h4>

        <p class="content">
          We welcome specific enquiries relating to the TPI, as well as feedback from investors, companies, NGOs, academics and consumers on how we can strengthen and improve our work.
        </p>
        
        <button class="button is-primary button__contact">
          <a href="TODO" class="footer-link" href="">Contact Us</a>
        </button>
      </div>

      <div class="column">
        <h4>Follow TPI<a href="https://twitter/tpi_initiative" class="icon icon__twitter"></a></h4>

        <p class="content">
          Fifty major asset owners globally are now supporting
          <a href="https://twitter.com/tp_initiative" class="link">@tp_initiative</a>
        </p>
      </div>
    </div>

    <hr />

    <div class="columns footer__disclaimer">
      <div class="column is-6">
        <h4>Disclaimer</h4>

        <p class="content is-size-7">
          All information contained on this website is derived from publicly available sources. Information can change without notice and TPI does not guarantee the accuracy of information on the website, including information provided by third parties. This website does not provide investment advice. <a href="TODO" class="link">View full disclaimer.</a>
        </p>
      </div>
    </div>

    <hr />

    <div class="columns footer__bottom">
      <div class="column footer__menu">
        <div class="columns footer__menu-list">
          <div class="column">
            <a href="/tpi/sectors" class="link is-large">TPI tool</a>
          </div>
          <div class="column">
            <a href="https://www.lse.ac.uk/lse-information/terms-of-use" class="link is-large">Terms of use</a>
          </div>
          <div class="column">
            <a href="https://www.lse.ac.uk/lse-information/privacy-policy" class="link is-large">Privacy policy</a>
          </div>
          <div class="column">
            <a href="https://www.lse.ac.uk/lse-information/cookies" class="link is-large">Cookies</a>
          </div>
        </div>
      </div>

      <div class="column footer__copyright">Copyright © 2019</div>
    </div>
  </div>
</section>
