<div class="container">
  <div class="columns">
    <div class="column is-5">
      pic
    </div>

    <div class="column">
      <h4>Subscribe to the TPI newsletter</h4>

      <p>
        Receive updates on the TPI, including on latest developments and research findings, by signing-up to our newsletter.
      </p>

      <button class="button is-primary">Subscribe</button>
    </div>
  </div>
</div>